
dnd { color: @window_fg_color; }

.normal-icons { -gtk-icon-size: 16px; }

.large-icons { -gtk-icon-size: 32px; }

/* Text selection */

:not(window):drop(active):focus, :not(window):drop(active) { border-color: @accent_bg_color; box-shadow: inset 0 0 0 1px @accent_bg_color; caret-color: @accent_bg_color; }

.navigation-sidebar :not(window):drop(active):focus, .navigation-sidebar :not(window):drop(active), placessidebar :not(window):drop(active):focus, placessidebar :not(window):drop(active), stackswitcher :not(window):drop(active):focus, stackswitcher :not(window):drop(active), expander-widget :not(window):drop(active):focus, expander-widget :not(window):drop(active) { box-shadow: none; }

/* Outline for low res icons */
.lowres-icon { -gtk-icon-shadow: 0 -1px rgba(0, 0, 0, 0.05), 1px 0 rgba(0, 0, 0, 0.1), 0 1px rgba(0, 0, 0, 0.3), -1px 0 rgba(0, 0, 0, 0.1); }

/* Drop shadow for large icons */
.icon-dropshadow { -gtk-icon-shadow: 0 1px 12px rgba(0, 0, 0, 0.05), 0 -1px rgba(0, 0, 0, 0.05), 1px 0 rgba(0, 0, 0, 0.1), 0 1px rgba(0, 0, 0, 0.3), -1px 0 rgba(0, 0, 0, 0.1); }

/* Calendar */

calendar { color: @view_fg_color; background-clip: padding-box; border: 1px solid @borders; font-feature-settings: "tnum"; }

calendar > header { border-bottom: 1px solid @borders; font-weight: bold; }

calendar > header > button { border-radius: 0; }

calendar > grid > label.today { box-shadow: inset 0px -2px currentColor; }

calendar > grid > label.today:selected { box-shadow: none; }

calendar > grid > label:focus { outline-color: @accent_bg_color; outline-width: 2px; outline-offset: -2px; }

calendar > grid > label.day-number { padding: 4px; }

calendar > grid > label.day-number:selected { background-color: @accent_bg_color; color: @accent_fg_color; }

calendar > grid > label.day-number.other-month { color: alpha(currentColor,0.3); }

/* Check and radio */

checkbutton { border-spacing: 4px; padding: 2px; }

checkbutton { outline: 0 solid transparent; outline-offset: 4px;  }

checkbutton:focus:focus-visible { outline-color: @accent_bg_color; outline-width: 2px; outline-offset: -2px; }

.osd checkbutton:focus:focus-visible { outline-color: rgba(255, 255, 255, 0.5); }

checkbutton.text-button { padding: 4px; }

check, radio { min-height: 14px; min-width: 14px; -gtk-icon-size: 14px; }

/* Colorswatch */

colorswatch { outline: 0 solid transparent; outline-offset: 6px;  }

colorswatch:focus:focus-visible { outline-color: @accent_bg_color; outline-width: 4px; outline-offset: -2px; }

colorswatch.dark > overlay { color: white; }

colorswatch.light > overlay { color: rgba(0, 0, 0, 0.75); }

colorswatch:drop(active).light > overlay { box-shadow: inset 0 0 0 2px @accent_bg_color; }

colorswatch:drop(active).dark > overlay { box-shadow: inset 0 0 0 2px @accent_bg_color; }

plane { outline: 0 solid transparent; outline-offset: 6px;  }

plane:focus:focus-visible { outline-color: @accent_bg_color; outline-width: 2px; outline-offset: 2px; }

.dialog-action-area { margin: 6px; border-spacing: 6px; }

/**************** Print dialog * */
window.dialog.print drawing { color: @window_fg_color; background: none; border: none; padding: 0; }

window.dialog.print drawing paper { background-color: white; color: rgba(0, 0, 0, 0.8); background-clip: padding-box; border: 1px solid @borders; }

window.dialog.print .frame header button{ border-top: none;}

/**************** GtkAssistant * */
window.assistant .sidebar { padding: 6px; background-clip: padding-box; }

window.assistant .sidebar > label { padding: 6px 12px; border-radius: 6.0px; }

window.assistant .sidebar > label.highlight { background-color: alpha(currentColor,0.1); }

/**************** GtkAboutDialog * */
window.aboutdialog image.large-icons { -gtk-icon-size: 128px; }

dropdown > popover.menu > contents { padding: 0; }

dropdown > button > box { border-spacing: 6px; }

dropdown > button > box > stack > row.activatable:hover, dropdown > button > box > stack > row.activatable:active { background: none; }

dropdown arrow, combobox arrow { -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); min-height: 16px; min-width: 16px; }

dropdown:drop(active), combobox:drop(active) { box-shadow: none; }

dropdown popover, combobox popover { padding-top: 6px; }

dropdown popover listview > row, combobox popover listview > row { min-width: 0; }

dropdown popover .dropdown-searchbar, combobox popover .dropdown-searchbar { padding: 6px; border-bottom: 1px solid @transparent_borders; }

popover.emoji-picker > contents { padding: 0; }

.emoji-searchbar { padding: 6px; }

.emoji-toolbar { padding: 3px; }

button.emoji-section.image-button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) { min-width: 32px; min-height: 32px; }

popover.emoji-picker emoji { font-size: x-large; padding: 6px; border-radius: 6.0px; }

popover.emoji-picker emoji:focus, popover.emoji-picker emoji:hover { background: alpha(currentColor,0.1); }

popover.emoji-picker emoji:active { background: alpha(currentColor,0.16); }

popover.emoji-picker scrolledwindow.view { background: none; color: inherit; }

popover.emoji-picker scrolledwindow.view > undershoot.top { box-shadow: inset 0 1px @transparent_borders; }

popover.emoji-picker scrolledwindow.view > undershoot.bottom { box-shadow: inset 0 -1px @transparent_borders; }

popover.emoji-completion > contents { padding: 6px; padding-bottom: 4px; }

emoji-completion-row { padding: 6px; margin-bottom: 2px; border-radius: 6.0px; }

emoji-completion-row:dir(ltr) { padding-right: 12px; }

emoji-completion-row:dir(rtl) { padding-left: 12px; }

emoji-completion-row > box { border-spacing: 6px; }

emoji-completion-row:focus, emoji-completion-row:hover { background-color: alpha(currentColor,0.1); color: @view_fg_color; }

emoji-completion-row:active { background-color: alpha(currentColor,0.16); }

/* Entry */

spinbutton, entry { min-height: 32px; padding-left: 8px; padding-right: 8px; border-spacing: 6px; caret-color: currentColor; }

spinbutton,
entry,
spinbutton.error,
entry.error,
spinbutton.warning,
entry.warning,
spinbutton.success,
entry.success
{ outline: 0 solid transparent; outline-offset: -2px;  }

spinbutton:not(.vertical):focus-within, entry:focus-within { outline-color: @accent_bg_color; outline-width: 2px; outline-offset: -2px; }

spinbutton > text > block-cursor, entry > text > block-cursor { color: @view_bg_color; background-color: @view_fg_color; }

spinbutton.flat, entry.flat:focus-within, entry.flat:disabled, entry.flat { min-height: 0; padding: 2px; }

spinbutton.error > text > cursor-handle > contents,
entry.error > text > cursor-handle > contents,
spinbutton.warning > text > cursor-handle > contents,
entry.warning > text > cursor-handle > contents,
spinbutton.success > text > cursor-handle > contents,
entry.success > text > cursor-handle > contents
{ background-color: currentColor; }

spinbutton.error > progress > trough > progress,
entry.error > progress > trough > progress,
spinbutton.warning > progress > trough > progress,
entry.warning > progress > trough > progress,
spinbutton.success > progress > trough > progress,
entry.success > progress > trough > progress
{ border-color: currentColor; }

spinbutton.error:focus-within,
entry.error:focus-within,
spinbutton.warning:focus-within,
entry.warning:focus-within,
spinbutton.success:focus-within,
entry.success:focus-within
{ outline-color: currentColor; outline-width: 2px; outline-offset: -2px; }

spinbutton.error > text > selection:focus-within, entry.error > text > selection:focus-within { background-color: @error_bg_color; }

spinbutton.warning > text > selection:focus-within, entry.warning > text > selection:focus-within { background-color: @warning_bg_color; }

spinbutton.success > text > selection:focus-within, entry.success > text > selection:focus-within { background-color: @success_bg_color; }

spinbutton > image.left, entry > image.left { margin-right: 6px; }

spinbutton > image.right, entry > image.right { margin-left: 6px; }

spinbutton.password image.caps-lock-indicator, entry.password image.caps-lock-indicator { opacity: 0.3; }

spinbutton:drop(active), entry:drop(active):focus-within, entry:drop(active) { border-color: @accent_bg_color; box-shadow: inset 0 0 0 1px @accent_bg_color; }

spinbutton > progress, entry > progress { margin-bottom: 0px; }

spinbutton progress:not(.pulse), entry progress:not(.pulse) { background-color: transparent; background-image: none; border-radius: 0; border-width: 0 0 2px; border-color: transparent; border-style: solid; box-shadow: none; }

spinbutton progress.pulse, entry progress.pulse{ border-color: @accent_bg_color ;}

.osd spinbutton > progress > trough > progress, .osd entry > progress > trough > progress { border-color: currentcolor; }

/* Button */

button.opaque { background-color: @button_bg_color; color: @window_fg_color; }

notebook > header > tabs > arrow, colorswatch#add-color-button > overlay, button { outline: 0 solid transparent; outline-offset: 4px;  }

notebook > header > tabs > arrow:focus:focus-visible, colorswatch#add-color-button > overlay:focus:focus-visible, button:focus:focus-visible { outline-color: @accent_bg_color; outline-width: 2px; outline-offset: -2px; }

.osd notebook > header > tabs > arrow:focus:focus-visible, .osd colorswatch#add-color-button > overlay:focus:focus-visible, .osd button:focus:focus-visible { outline-color: rgba(255, 255, 255, 0.5); }

notebook > header > tabs > arrow.arrow-button, colorswatch#add-color-button > overlay.arrow-button, button.arrow-button { padding-left: 9px; padding-right: 9px; }

notebook > header > tabs > arrow.text-button.image-button > box,
colorswatch#add-color-button > overlay.text-button.image-button > box,
notebook > header > tabs > arrow.text-button.image-button > box > box,
colorswatch#add-color-button > overlay.text-button.image-button > box > box,
notebook > header > tabs > arrow.image-text-button > box,
colorswatch#add-color-button > overlay.image-text-button > box,
notebook > header > tabs > arrow.image-text-button > box > box,
colorswatch#add-color-button > overlay.image-text-button > box > box,
button.text-button.image-button > box, button.text-button.image-button > box > box,
button.image-text-button > box, button.image-text-button > box > box,
notebook > header > tabs > arrow.arrow-button > box,
colorswatch#add-color-button > overlay.arrow-button > box,
button.arrow-button > box,
notebook > header > tabs > arrow.arrow-button.text-button > box,
colorswatch#add-color-button > overlay.arrow-button.text-button > box,
button.arrow-button.text-button > box
{ border-spacing: 4px; }

menubutton.osd > button, button.osd { min-width: 32px; min-height: 32px; }

menubutton.osd > button:focus:focus-visible, button.osd:focus:focus-visible { outline-color: rgba(255, 255, 255, 0.5); outline-width: 2px; outline-offset: 1px; }

actionbar > revealer > box menubutton.suggested-action > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), searchbar > revealer > box menubutton.suggested-action > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .toolbar menubutton.suggested-action > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), headerbar menubutton.suggested-action > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), actionbar > revealer > box menubutton.destructive-action > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), searchbar > revealer > box menubutton.destructive-action > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .toolbar menubutton.destructive-action > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), headerbar menubutton.destructive-action > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), actionbar > revealer > box menubutton.opaque > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), searchbar > revealer > box menubutton.opaque > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .toolbar menubutton.opaque > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), headerbar menubutton.opaque > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), splitbutton.suggested-action > button:focus:focus-visible, splitbutton.suggested-action > menubutton > button:focus:focus-visible, splitbutton.destructive-action > button:focus:focus-visible, splitbutton.destructive-action > menubutton > button:focus:focus-visible, splitbutton.opaque > button:focus:focus-visible, splitbutton.opaque > menubutton > button:focus:focus-visible, menubutton.suggested-action > button:focus:focus-visible, menubutton.destructive-action > button:focus:focus-visible, menubutton.opaque > button:focus:focus-visible, button.suggested-action:focus:focus-visible, button.destructive-action:focus:focus-visible, button.opaque:focus:focus-visible { outline-color: @accent_bg_color; outline-width: 2px; outline-offset: 1px; }

.osd actionbar > revealer > box menubutton.suggested-action > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd searchbar > revealer > box menubutton.suggested-action > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd .toolbar menubutton.suggested-action > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), actionbar > revealer > box .osd menubutton.suggested-action > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), searchbar > revealer > box .osd menubutton.suggested-action > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .toolbar .osd menubutton.suggested-action > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd headerbar menubutton.suggested-action > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), headerbar .osd menubutton.suggested-action > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd actionbar > revealer > box menubutton.destructive-action > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd searchbar > revealer > box menubutton.destructive-action > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd .toolbar menubutton.destructive-action > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), actionbar > revealer > box .osd menubutton.destructive-action > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), searchbar > revealer > box .osd menubutton.destructive-action > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .toolbar .osd menubutton.destructive-action > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd headerbar menubutton.destructive-action > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), headerbar .osd menubutton.destructive-action > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd actionbar > revealer > box menubutton.opaque > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd searchbar > revealer > box menubutton.opaque > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd .toolbar menubutton.opaque > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), actionbar > revealer > box .osd menubutton.opaque > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), searchbar > revealer > box .osd menubutton.opaque > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .toolbar .osd menubutton.opaque > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd headerbar menubutton.opaque > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), headerbar .osd menubutton.opaque > button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd splitbutton.suggested-action > button:focus:focus-visible, .osd splitbutton.suggested-action > menubutton > button:focus:focus-visible, .osd splitbutton.destructive-action > button:focus:focus-visible, .osd splitbutton.destructive-action > menubutton > button:focus:focus-visible, .osd splitbutton.opaque > button:focus:focus-visible, .osd splitbutton.opaque > menubutton > button:focus:focus-visible, .osd menubutton.suggested-action > button:focus:focus-visible, .osd menubutton.destructive-action > button:focus:focus-visible, .osd menubutton.opaque > button:focus:focus-visible, .osd button.suggested-action:focus:focus-visible, .osd button.destructive-action:focus:focus-visible, .osd button.opaque:focus:focus-visible { outline-color: rgba(255, 255, 255, 0.5); }

infobar .close, searchbar > revealer > box .close, actionbar > revealer > box menubutton.image-button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > button, searchbar > revealer > box menubutton.image-button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > button, .toolbar menubutton.image-button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > button, headerbar menubutton.image-button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > button, actionbar > revealer > box button.arrow-button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), searchbar > revealer > box button.arrow-button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .toolbar button.arrow-button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), headerbar button.arrow-button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), actionbar > revealer > box button.image-button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), searchbar > revealer > box button.image-button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .toolbar button.image-button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), headerbar button.image-button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), actionbar > revealer > box button.image-text-button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), searchbar > revealer > box button.image-text-button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .toolbar button.image-text-button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), headerbar button.image-text-button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), spinbutton > button.image-button.up:not(.flat):not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), spinbutton > button.image-button.down:not(.flat):not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), button.sidebar-button, notebook > header > tabs > arrow, window.dialog.message.csd .dialog-action-area > button, popover.menu box.circular-buttons button.circular.image-button.model, popover.menu box.inline-buttons button.image-button.model, button.emoji-section.image-button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), calendar > header > button, actionbar > revealer > box splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > button, searchbar > revealer > box splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > button, .toolbar splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > button, headerbar splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > button, actionbar > revealer > box splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > menubutton > button, searchbar > revealer > box splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > menubutton > button, .toolbar splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > menubutton > button, headerbar splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > menubutton > button, splitbutton.flat > button, splitbutton.flat > menubutton > button, menubutton.flat > button, button.flat { outline: 0 solid transparent; outline-offset: 4px;  }

infobar .close:focus:focus-visible, searchbar > revealer > box .close:focus:focus-visible, actionbar > revealer > box menubutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque).image-button > button:focus:focus-visible, searchbar > revealer > box menubutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque).image-button > button:focus:focus-visible, .toolbar menubutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque).image-button > button:focus:focus-visible, headerbar menubutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque).image-button > button:focus:focus-visible, actionbar > revealer > box button.arrow-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), searchbar > revealer > box button.arrow-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .toolbar button.arrow-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), headerbar button.arrow-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), actionbar > revealer > box button.image-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), searchbar > revealer > box button.image-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .toolbar button.image-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), headerbar button.image-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), actionbar > revealer > box button.image-text-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), searchbar > revealer > box button.image-text-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .toolbar button.image-text-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), headerbar button.image-text-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), spinbutton > button.image-button.up:focus:focus-visible:not(.flat):not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), spinbutton > button.image-button.down:focus:focus-visible:not(.flat):not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), button.sidebar-button:focus:focus-visible, notebook > header > tabs > arrow:focus:focus-visible, window.dialog.message.csd .dialog-action-area > button:focus:focus-visible, popover.menu box.circular-buttons button.circular.image-button.model:focus:focus-visible, popover.menu box.inline-buttons button.image-button.model:focus:focus-visible, button.emoji-section.image-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), calendar > header > button:focus:focus-visible, actionbar > revealer > box splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > button:focus:focus-visible, searchbar > revealer > box splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > button:focus:focus-visible, .toolbar splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > button:focus:focus-visible, headerbar splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > button:focus:focus-visible, actionbar > revealer > box splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > menubutton > button:focus:focus-visible, searchbar > revealer > box splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > menubutton > button:focus:focus-visible, .toolbar splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > menubutton > button:focus:focus-visible, headerbar splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > menubutton > button:focus:focus-visible, splitbutton.flat > button:focus:focus-visible, splitbutton.flat > menubutton > button:focus:focus-visible, menubutton.flat > button:focus:focus-visible, button.flat:focus:focus-visible { outline-color: @accent_bg_color; outline-width: 2px; outline-offset: -2px; }

.osd infobar .close:focus:focus-visible, infobar .osd .close:focus:focus-visible, .osd searchbar > revealer > box .close:focus:focus-visible, searchbar > revealer > box .osd .close:focus:focus-visible, .osd actionbar > revealer > box menubutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque).image-button > button:focus:focus-visible, .osd searchbar > revealer > box menubutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque).image-button > button:focus:focus-visible, .osd .toolbar menubutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque).image-button > button:focus:focus-visible, actionbar > revealer > box .osd menubutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque).image-button > button:focus:focus-visible, searchbar > revealer > box .osd menubutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque).image-button > button:focus:focus-visible, .toolbar .osd menubutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque).image-button > button:focus:focus-visible, .osd headerbar menubutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque).image-button > button:focus:focus-visible, headerbar .osd menubutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque).image-button > button:focus:focus-visible, .osd actionbar > revealer > box button.arrow-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd searchbar > revealer > box button.arrow-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd .toolbar button.arrow-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), actionbar > revealer > box .osd button.arrow-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), searchbar > revealer > box .osd button.arrow-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .toolbar .osd button.arrow-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd headerbar button.arrow-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), headerbar .osd button.arrow-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd actionbar > revealer > box button.image-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd searchbar > revealer > box button.image-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd .toolbar button.image-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), actionbar > revealer > box .osd button.image-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), searchbar > revealer > box .osd button.image-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .toolbar .osd button.image-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd headerbar button.image-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), headerbar .osd button.image-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd actionbar > revealer > box button.image-text-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd searchbar > revealer > box button.image-text-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd .toolbar button.image-text-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), actionbar > revealer > box .osd button.image-text-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), searchbar > revealer > box .osd button.image-text-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .toolbar .osd button.image-text-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd headerbar button.image-text-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), headerbar .osd button.image-text-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd spinbutton > button.image-button.up:focus:focus-visible:not(.flat):not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd spinbutton > button.image-button.down:focus:focus-visible:not(.flat):not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd button.sidebar-button:focus:focus-visible, .osd notebook > header > tabs > arrow:focus:focus-visible, .osd window.dialog.message.csd .dialog-action-area > button:focus:focus-visible, window.dialog.message.csd .osd .dialog-action-area > button:focus:focus-visible, .osd popover.menu box.circular-buttons button.circular.image-button.model:focus:focus-visible, popover.menu box.circular-buttons .osd button.circular.image-button.model:focus:focus-visible, .osd popover.menu box.inline-buttons button.image-button.model:focus:focus-visible, popover.menu box.inline-buttons .osd button.image-button.model:focus:focus-visible, .osd button.emoji-section.image-button:focus:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .osd calendar > header > button:focus:focus-visible, .osd actionbar > revealer > box splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > button:focus:focus-visible, .osd searchbar > revealer > box splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > button:focus:focus-visible, .osd .toolbar splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > button:focus:focus-visible, actionbar > revealer > box .osd splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > button:focus:focus-visible, searchbar > revealer > box .osd splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > button:focus:focus-visible, .toolbar .osd splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > button:focus:focus-visible, .osd headerbar splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > button:focus:focus-visible, headerbar .osd splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > button:focus:focus-visible, .osd actionbar > revealer > box splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > menubutton > button:focus:focus-visible, .osd searchbar > revealer > box splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > menubutton > button:focus:focus-visible, .osd .toolbar splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > menubutton > button:focus:focus-visible, actionbar > revealer > box .osd splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > menubutton > button:focus:focus-visible, searchbar > revealer > box .osd splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > menubutton > button:focus:focus-visible, .toolbar .osd splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > menubutton > button:focus:focus-visible, .osd headerbar splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > menubutton > button:focus:focus-visible, headerbar .osd splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > menubutton > button:focus:focus-visible, .osd splitbutton.flat > button:focus:focus-visible, .osd splitbutton.flat > menubutton > button:focus:focus-visible, .osd menubutton.flat > button:focus:focus-visible, .osd button.flat:focus:focus-visible { outline-color: rgba(255, 255, 255, 0.5); }

stackswitcher > button > label { padding: 0 6px; margin: 0 -6px; }

stackswitcher > button > image { padding: 3px 6px; margin: -3px -6px; }

button.font separator { background-color: transparent; }

button.font > box { border-spacing: 6px; }

button.emoji-section.image-button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), menubutton.circular > button, button.circular { min-width: 34px; min-height: 34px; padding: 0; }

button.emoji-section.image-button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) label, menubutton.circular > button label, button.circular label { padding: 0; }

menubutton.pill > button, button.pill { min-width: 150px; border-radius: 9999px; }

button.card { background-color: @card_bg_color; background-clip: padding-box; font-weight: inherit; padding: 0; transition: background 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }

button.card:hover { background-image: image(alpha(currentColor,0.03)); }

button.card.keyboard-activating, button.card:active { background-image: image(alpha(currentColor,0.08)); }

button.card:checked { background-color: @card_bg_color; background-image: image(alpha(currentColor,0.1)); }

button.card:checked:hover { background-image: image(alpha(currentColor,0.13)); }

button.card:checked.keyboard-activating, button.card:checked:active { background-image: image(alpha(currentColor,0.19)); }

button.card:checked.has-open-popup { background-image: image(alpha(currentColor,0.13)); }

button.card:drop(active) { color: @accent_bg_color; box-shadow: inset 0 0 0 1px @accent_bg_color; }

button.color { padding: 5px; }

button.color > colorswatch:only-child:disabled { filter: none; }

button.color > colorswatch:only-child.light > overlay { border-color: alpha(@view_fg_color,0.1); }

menubutton.osd { background: none; color: inherit; }

menubutton.opaque { background-color: mix(@window_bg_color,@window_fg_color,0.15); color: @window_fg_color; }

menubutton.image-button > button { min-width: 24px; padding-left: 5px; padding-right: 5px; }

menubutton arrow { min-height: 16px; min-width: 16px; }

menubutton arrow.none { -gtk-icon-source: -gtk-icontheme("open-menu-symbolic"); }

menubutton arrow.down { -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }

menubutton arrow.up { -gtk-icon-source: -gtk-icontheme("pan-up-symbolic"); }

menubutton arrow.left { -gtk-icon-source: -gtk-icontheme("pan-start-symbolic"); }

menubutton arrow.right { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }

splitbutton{border-radius: 6.0px;}

splitbutton, splitbutton > separator { transition: background 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); transition-property: background; }

splitbutton > separator { margin-top: 6px; margin-bottom: 6px; background: none; }

splitbutton > menubutton > button { padding-left: 4px; padding-right: 4px; }

splitbutton.image-button > button { min-width: 24px; padding-left: 5px; padding-right: 5px; }

splitbutton.text-button.image-button > button, splitbutton.image-text-button > button { padding-left: 9px; padding-right: 9px; }

splitbutton.text-button.image-button > button > box, splitbutton.image-text-button > button > box { border-spacing: 6px; }

splitbutton:disabled > button, splitbutton:disabled > menubutton > button { filter: none; }

splitbutton > button:dir(ltr), splitbutton > menubutton > button:dir(rtl) { border-top-right-radius: 0; border-bottom-right-radius: 0; }

splitbutton > button:dir(rtl), splitbutton > menubutton > button:dir(ltr) { border-top-left-radius: 0; border-bottom-left-radius: 0; }

actionbar > revealer > box splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > separator, searchbar > revealer > box splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > separator, .toolbar splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > separator, headerbar splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > separator, splitbutton.flat > separator { background: alpha(currentColor,0.3); }

actionbar > revealer > box splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > separator, searchbar > revealer > box splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > separator, .toolbar splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > separator,splitbutton.flat > separator,
headerbar splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > separator,
actionbar > revealer > box splitbutton:hover:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > separator, searchbar > revealer > box splitbutton:hover:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > separator, .toolbar splitbutton:hover:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > separator, headerbar splitbutton:hover:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > separator, actionbar > revealer > box splitbutton:active:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > separator, searchbar > revealer > box splitbutton:active:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > separator, .toolbar splitbutton:active:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > separator, headerbar splitbutton:active:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > separator, actionbar > revealer > box splitbutton:checked:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > separator{ background: alpha(currentColor,0.5); }

headerbar splitbutton:hover:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque),
headerbar splitbutton:active:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque),
headerbar splitbutton:checked:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque),
searchbar > revealer > box splitbutton:checked:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > separator, .toolbar splitbutton:checked:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > separator, headerbar splitbutton:checked:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > separator, splitbutton.flat:hover > separator, splitbutton.flat:active > separator, splitbutton.flat:checked > separator,
actionbar > revealer > box splitbutton:focus-within:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > separator, searchbar > revealer > box splitbutton:focus-within:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > separator, .toolbar splitbutton:focus-within:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > separator, headerbar splitbutton:focus-within:focus-visible:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > separator, splitbutton.flat:focus-within:focus-visible > separator,
actionbar > revealer > box splitbutton:hover:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), searchbar > revealer > box splitbutton:hover:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .toolbar splitbutton:hover:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), actionbar > revealer > box splitbutton:active:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), searchbar > revealer > box splitbutton:active:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .toolbar splitbutton:active:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), actionbar > revealer > box splitbutton:checked:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), searchbar > revealer > box splitbutton:checked:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .toolbar splitbutton:checked:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque),splitbutton.flat:hover, splitbutton.flat:active, splitbutton.flat:checked
{ background: alpha(currentColor,0.1); }

actionbar > revealer > box splitbutton:disabled:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > button:disabled, searchbar > revealer > box splitbutton:disabled:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > button:disabled, .toolbar splitbutton:disabled:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > button:disabled, headerbar splitbutton:disabled:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > button:disabled, actionbar > revealer > box splitbutton:disabled:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > menubutton > button:disabled, searchbar > revealer > box splitbutton:disabled:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > menubutton > button:disabled, .toolbar splitbutton:disabled:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > menubutton > button:disabled, headerbar splitbutton:disabled:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > menubutton > button:disabled, splitbutton.flat:disabled > button:disabled, splitbutton.flat:disabled > menubutton > button:disabled { filter: none; }

headerbar splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > button,
headerbar splitbutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) > menubutton > button { border-radius: 6.0px; }

splitbutton.opaque { background-color: mix(@window_bg_color,@window_fg_color,0.15); color: @window_fg_color; }

splitbutton.suggested-action > button, splitbutton.suggested-action > button:checked, splitbutton.suggested-action > menubutton > button, splitbutton.suggested-action > menubutton > button:checked, splitbutton.destructive-action > button, splitbutton.destructive-action > button:checked, splitbutton.destructive-action > menubutton > button, splitbutton.destructive-action > menubutton > button:checked, splitbutton.opaque > button, splitbutton.opaque > button:checked, splitbutton.opaque > menubutton > button, splitbutton.opaque > menubutton > button:checked { color: inherit; background-color: transparent; }

splitbutton.suggested-action > menubutton > button:dir(ltr), splitbutton.destructive-action > menubutton > button:dir(ltr), splitbutton.opaque > menubutton > button:dir(ltr) { box-shadow: inset 1px 0 alpha(currentColor,0.3); }

splitbutton.suggested-action > menubutton > button:dir(rtl), splitbutton.destructive-action > menubutton > button:dir(rtl), splitbutton.opaque > menubutton > button:dir(rtl) { box-shadow: inset -1px 0 alpha(currentColor,0.3); }

splitbutton > menubutton > button > arrow.none { -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }

buttoncontent { border-spacing: 6px; }

buttoncontent > label { font-weight: bold; }

buttoncontent > label:dir(ltr) { padding-right: 2px; }

buttoncontent > label:dir(rtl) { padding-left: 2px; }

.arrow-button > box > buttoncontent > label:dir(ltr), splitbutton > button > buttoncontent > label:dir(ltr) { padding-right: 0; }

.arrow-button > box > buttoncontent > label:dir(rtl), splitbutton > button > buttoncontent > label:dir(rtl) { padding-left: 0; }

placesview .server-list-button > image { transition: -gtk-icon-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); -gtk-icon-transform: rotate(0turn); }

placesview .server-list-button:checked > image { -gtk-icon-transform: rotate(-0.5turn); }

placesview > actionbar > revealer > box > box { border-spacing: 6px; }

filechooser { box-shadow: 0 1px @borders; }

/* Header Bar*/

#NautilusPathBar {background-clip: border-box;}

#NautilusPathBar menubutton{ border-radius: 6.0px;}

.nautilus-window headerbar  .linked button:not(:only-child){ border-right-style: solid;}

headerbar > windowhandle > box, headerbar > windowhandle > box > box.start, headerbar > windowhandle > box > box.end { border-spacing: 6px; }

headerbar > windowhandle > box,
headerbar.default-decoration > windowhandle > box { padding: 0 4px 0px 4px; }

headerbar.default-decoration windowcontrols > .icon { margin: 7px; }

headerbar.flat > windowhandle > box { padding-bottom: 0; }

.solid-csd headerbar:backdrop:dir(rtl), .solid-csd headerbar:backdrop:dir(ltr), .solid-csd headerbar:dir(rtl), .solid-csd headerbar:dir(ltr) { margin-top: -1px; }

.solid-csd headerbar:backdrop:dir(rtl) > windowhandle > box, .solid-csd headerbar:backdrop:dir(ltr) > windowhandle > box, .solid-csd headerbar:dir(rtl) > windowhandle > box, .solid-csd headerbar:dir(ltr) > windowhandle > box { padding-top: 0px; }

.titlebar:not(headerbar) separator { background-color: @headerbar_border_color; }

/* GtkWindowControls * */
windowcontrols { border-spacing: 6px; }

windowcontrols > .icon { margin: 9px; }

/* AdwWindowTitle * */
headerbar .title, windowtitle .title { padding-left: 12px; padding-right: 12px; font-weight: bold; }

headerbar .subtitle, windowtitle .subtitle { font-size: smaller; padding-left: 12px; padding-right: 12px; }

window.devel headerbar > windowhandle { background-image: cross-fade(5% -gtk-recolor(url("../general/devel-symbolic.svg")), image(transparent)); background-repeat: repeat-x; }

/* View Switcher */

actionbar viewswitcher.narrow button { margin: 0; padding: 8px;}

headerbar viewswitcher button.toggle { font-weight: bold; padding: 0; }

headerbar viewswitcher button.toggle > stack > box.narrow { padding-top: 0px; padding-bottom: 0px; border-spacing: 4px; }

headerbar viewswitcher button.toggle > stack > box.narrow > stack > label { padding-left: 8px; padding-right: 8px; }

headerbar viewswitcher button.toggle > stack > box.narrow image{ color: transparent; -gtk-icon-size: 0px; margin-bottom: -9999px;}

headerbar viewswitcher button.toggle > stack > box.wide { padding: 2px 12px; border-spacing: 6px; }

/*AdwViewSwitcherBar * */
viewswitcherbar actionbar > revealer > box { padding: 0; }

/* AdwViewSwitcherTitle * */
viewswitchertitle viewswitcher { margin-left: 12px; margin-right: 12px; }

/* General Typography * */

label { caret-color: currentColor; }

.dim-label, scale > value, progressbar > text, row.expander image.expander-row-arrow, row label.subtitle, spinbutton > text > placeholder, entry > text > placeholder, headerbar .subtitle, windowtitle .subtitle, label.separator { opacity: 0.55; }

.accent { color: @accent_color; }

.success { color: @success_color; }

.warning { color: @warning_color; }

.error { color: @error_color; }

.large-title { font-weight: 300; font-size: 24pt; }

.title-1 { font-weight: 800; font-size: 20pt; }

.title-2 { font-weight: 800; font-size: 15pt; }

.title-3 { font-weight: 700; font-size: 15pt; }

.title-4 { font-weight: 700; font-size: 13pt; }

.heading { font-weight: 700; font-size: 11pt; }

.body { font-weight: 400; font-size: 11pt; }

.caption-heading { font-weight: 700; font-size: 9pt; }

.caption { font-weight: 400; font-size: 9pt; }

.monospace { font-family: monospace; }

.numeric, spinbutton, scale > value, progressbar > text { font-feature-settings: "tnum"; }

/******************* Editable Labels * */
editablelabel > stack > text { color: @view_fg_color; background-color: @view_bg_color; }

.linked:not(.vertical) > button:dir(ltr):not(:first-child), .linked:not(.vertical) > button:dir(rtl):not(:last-child) { border-top-left-radius: 0; border-bottom-left-radius: 0; }

.linked:not(.vertical) > button:dir(ltr):not(:last-child), .linked:not(.vertical) > button:dir(rtl):not(:first-child) { border-top-right-radius: 0; border-bottom-right-radius: 0; }

.linked.vertical button:not(:first-child) { border-top-left-radius: 0; border-top-right-radius: 0; }

.linked.vertical button:not(:last-child) { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }

.linked:not(.vertical) > menubutton:dir(ltr):not(:first-child) > button, .linked:not(.vertical) > menubutton:dir(rtl):not(:last-child) > button { border-top-left-radius: 0; border-bottom-left-radius: 0; }

.linked:not(.vertical) > menubutton:dir(ltr):not(:last-child) > button, .linked:not(.vertical) > menubutton:dir(rtl):not(:first-child) > button { border-top-right-radius: 0; border-bottom-right-radius: 0; }

.linked.vertical menubutton:not(:first-child) > button { border-top-left-radius: 0; border-top-right-radius: 0; }

.linked.vertical menubutton:not(:last-child) > button { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }

.linked:not(.vertical) > dropdown:dir(ltr):not(:first-child) > button, .linked:not(.vertical) > dropdown:dir(rtl):not(:last-child) > button { border-top-left-radius: 0; border-bottom-left-radius: 0; }

.linked:not(.vertical) > dropdown:dir(ltr):not(:last-child) > button, .linked:not(.vertical) > dropdown:dir(rtl):not(:first-child) > button { border-top-right-radius: 0; border-bottom-right-radius: 0; }

.linked.vertical dropdown:not(:first-child) > button { border-top-left-radius: 0; border-top-right-radius: 0; }

.linked.vertical dropdown:not(:last-child) > button { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }

.linked:not(.vertical) > colorbutton:dir(ltr):not(:first-child) > button, .linked:not(.vertical) > colorbutton:dir(rtl):not(:last-child) > button { border-top-left-radius: 0; border-bottom-left-radius: 0; }

.linked:not(.vertical) > colorbutton:dir(ltr):not(:last-child) > button, .linked:not(.vertical) > colorbutton:dir(rtl):not(:first-child) > button { border-top-right-radius: 0; border-bottom-right-radius: 0; }

.linked.vertical colorbutton:not(:first-child) > button { border-top-left-radius: 0; border-top-right-radius: 0; }

.linked.vertical colorbutton:not(:last-child) > button { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }

.linked:not(.vertical) > fontbutton:dir(ltr):not(:first-child) > button, .linked:not(.vertical) > fontbutton:dir(rtl):not(:last-child) > button { border-top-left-radius: 0; border-bottom-left-radius: 0; }

.linked:not(.vertical) > fontbutton:dir(ltr):not(:last-child) > button, .linked:not(.vertical) > fontbutton:dir(rtl):not(:first-child) > button { border-top-right-radius: 0; border-bottom-right-radius: 0; }

.linked.vertical fontbutton:not(:first-child) > button { border-top-left-radius: 0; border-top-right-radius: 0; }

.linked.vertical fontbutton:not(:last-child) > button { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }

.linked:not(.vertical) > combobox:dir(ltr):not(:first-child) > box > button.combo, .linked:not(.vertical) > combobox:dir(rtl):not(:last-child) > box > button.combo { border-top-left-radius: 0; border-bottom-left-radius: 0; }

.linked:not(.vertical) > combobox:dir(ltr):not(:last-child) > box > button.combo, .linked:not(.vertical) > combobox:dir(rtl):not(:first-child) > box > button.combo { border-top-right-radius: 0; border-bottom-right-radius: 0; }

.linked.vertical combobox:not(:first-child) > box > button.combo { border-top-left-radius: 0; border-top-right-radius: 0; }

.linked.vertical combobox:not(:last-child) > box > button.combo { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }

.linked:not(.vertical) > appchooserbutton:dir(ltr):not(:first-child) > combobox > box > button.combo, .linked:not(.vertical) > appchooserbutton:dir(rtl):not(:last-child) > combobox > box > button.combo { border-top-left-radius: 0; border-bottom-left-radius: 0; }

.linked:not(.vertical) > appchooserbutton:dir(ltr):not(:last-child) > combobox > box > button.combo, .linked:not(.vertical) > appchooserbutton:dir(rtl):not(:first-child) > combobox > box > button.combo { border-top-right-radius: 0; border-bottom-right-radius: 0; }

.linked.vertical appchooserbutton:not(:first-child) > combobox > box > button.combo { border-top-left-radius: 0; border-top-right-radius: 0; }

.linked.vertical appchooserbutton:not(:last-child) > combobox > box > button.combo { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }

.linked:not(.vertical) > spinbutton:dir(ltr):not(:first-child), .linked:not(.vertical) > spinbutton:dir(rtl):not(:last-child) { border-top-left-radius: 0; border-bottom-left-radius: 0; }

.linked:not(.vertical) > spinbutton:dir(ltr):not(:last-child), .linked:not(.vertical) > spinbutton:dir(rtl):not(:first-child) { border-top-right-radius: 0; border-bottom-right-radius: 0; }

.linked.vertical spinbutton:not(:first-child) { border-top-left-radius: 0; border-top-right-radius: 0; }

.linked.vertical spinbutton:not(:last-child) { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }

.linked:not(.vertical) > entry:dir(ltr):not(:first-child), .linked:not(.vertical) > entry:dir(rtl):not(:last-child) { border-top-left-radius: 0; border-bottom-left-radius: 0; }

.linked:not(.vertical) > entry:dir(ltr):not(:last-child), .linked:not(.vertical) > entry:dir(rtl):not(:first-child) { border-top-right-radius: 0; border-bottom-right-radius: 0; }

.linked.vertical entry:not(:first-child) { border-top-left-radius: 0; border-top-right-radius: 0; }

.linked.vertical entry:not(:last-child) { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }

button.link > label { text-decoration: underline; }

/* List */

listview > row, list > row { padding: 2px; background-clip: padding-box; }

listview > row.expander, list > row.expander { padding: 0px; }

listview > row.expander .row-header, list > row.expander .row-header { padding: 2px; }

listview.horizontal row.separator, listview.separators.horizontal > row:not(.separator), list.horizontal row.separator, list.separators.horizontal > row:not(.separator) { border-left: 1px solid @borders; }

listview:not(.horizontal) row.separator, listview.separators:not(.horizontal) > row:not(.separator), list:not(.horizontal) row.separator, list.separators:not(.horizontal) > row:not(.separator) { border-bottom: 1px solid @borders; }

row { background-clip: padding-box; }

row { outline: 0 solid transparent; outline-offset: 4px;  }

row.expander list.nested {border-bottom: 1px solid @transparent_borders;}

/******************************************************* Rich Lists                                          * Large list usually containing lots of widgets       * https://gitlab.gnome.org/GNOME/gtk/-/issues/3073    * */
.rich-list { /* rich lists usually containing other widgets than just labels/text */ }

.rich-list > row { padding: 8px 12px; min-height: 32px; /* should be tall even when only containing a label */ }

.rich-list > row > box { border-spacing: 12px; }

/**************** AdwActionRow * */
row label.subtitle { font-size: smaller; }

row > box.header { margin-left: 12px; margin-right: 12px; border-spacing: 6px; min-height: 50px; }

row > box.header > .icon:disabled { filter: opacity(0.5); }

row > box.header > box.title { margin-top: 6px; margin-bottom: 6px; border-spacing: 3px; padding: 0; }

row > box.header > box.title, row > box.header > box.title > .title, row > box.header > box.title > .subtitle { padding: 0; font-weight: inherit; }

row > box.header > .prefixes, row > box.header > .suffixes { border-spacing: 6px; }

row > box.header > .icon:dir(ltr), row > box.header > .prefixes:dir(ltr) { margin-right: 6px; }

row > box.header > .icon:dir(rtl), row > box.header > .prefixes:dir(rtl) { margin-left: 6px; }

/*************** AdwEntryRow * */

row.entry.focused { outline-color: @accent_bg_color; outline-width: 2px; outline-offset: -1px; }

row.entry:not(:selected).activatable.focused:hover, row.entry:not(:selected).activatable.focused:active { background-color: transparent; }

row.entry .edit-icon, row.entry .indicator { min-width: 24px; min-height: 24px; padding: 5px; }

row.entry .edit-icon:disabled { opacity: 0.3; }

row.entry .indicator { opacity: 0.3; }

row.entry.monospace { font-family: inherit; }

row.entry.monospace text { font-family: monospace; }

row.entry,
row.entry.error,
row.entry.warning,
row.entry.success { outline: 0 solid transparent; transition: outline-color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), outline-width 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), outline-offset 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), border-radius 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }

row.entry.warning.focused,
row.entry.error.focused,
row.entry.success.focused { outline-color: currentColor; outline-width: 2px; outline-offset: -1px; }

row.entry.error text > selection:focus-within { background-color: @error_color; }
row.entry.warning text > selection:focus-within { background-color: @warning_color; }
row.entry.success text > selection:focus-within { background-color: @success_color; }

row.entry.error text > cursor-handle > contents,
row.entry.warning text > cursor-handle > contents,
row.entry.success text > cursor-handle > contents { background-color: currentColor; }

/*************** AdwComboRow * */
row.combo image.dropdown-arrow:disabled { filter: opacity(0.5); }

row.combo listview.inline { background: none; border: none; box-shadow: none; color: inherit; }

row.combo listview.inline, row.combo listview.inline:disabled { background: none; color: inherit; }

row.combo popover > contents { min-width: 120px; }

row.expander { background: none; padding: 0px; }

row.expander > box > list { background: none; color: inherit; }

row.expander image.expander-row-arrow { transition: -gtk-icon-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }

row.expander image.expander-row-arrow:dir(ltr) { margin-left: 6px; }

row.expander image.expander-row-arrow:dir(rtl) { margin-right: 6px; }

row.expander image.expander-row-arrow:dir(ltr) { -gtk-icon-transform: rotate(0.5turn); }

row.expander image.expander-row-arrow:dir(rtl) { -gtk-icon-transform: rotate(-0.5turn); }

row.expander image.expander-row-arrow:disabled { filter: opacity(0.5); }

row.expander:checked image.expander-row-arrow { -gtk-icon-transform: rotate(0turn); opacity: 1; }

.osd row.expander:checked image.expander-row-arrow:not(:disabled) { color: inherit; }

/* Menus */

.csd popover.background { border-color: transparent; } /* !!! this is use on gtk3 !!!*/

popover.background > arrow,
popover.background > contents { background-clip: padding-box; border: 1px solid @transparent_borders; box-shadow: 0 1px 2px @menu_shadow; }

popover.menu{ border: none; }

popover.menu box.inline-buttons { padding: 0 12px; }

popover.menu box.inline-buttons button.image-button.model { min-height: 32px; min-width: 32px; padding: 0; border: none; outline: none; transition: none; }

popover.menu box.circular-buttons { padding: 12px 12px 6px; }

popover.menu > contents { padding: 0; }

popover.menu > contents > stack > box, popover.menu > contents > scrolledwindow > viewport > stack > box { padding: 6px; }

popover.menu separator { margin: 6px 0; }

popover.menu list separator { margin: 0; }

popover.menu accelerator { color: alpha(currentColor,0.55); }

popover.menu accelerator:dir(ltr) { margin-left: 12px; }

popover.menu accelerator:dir(rtl) { margin-right: 12px; }

popover.menu check, popover.menu radio { min-width: 14px; min-height: 14px; -gtk-icon-size: 14px; }

popover.menu check, popover.menu check:hover:checked, popover.menu check:hover:indeterminate, popover.menu check:hover:not(:checked):not(:indeterminate), popover.menu check:active:checked, popover.menu check:active:indeterminate, popover.menu check:active:not(:checked):not(:indeterminate), popover.menu radio, popover.menu radio:hover:checked, popover.menu radio:hover:indeterminate, popover.menu radio:hover:not(:checked):not(:indeterminate), popover.menu radio:active:checked, popover.menu radio:active:indeterminate, popover.menu radio:active:not(:checked):not(:indeterminate) { background: none; box-shadow: none; color: inherit; }

.osd popover.menu check, .osd popover.menu radio { background: none; color: inherit; }

popover.menu radio { border: 2px solid currentColor; }

popover.menu radio:disabled,
popover.menu check:disabled{color: alpha(currentcolor,0.5);}

popover.menu check.left, popover.menu radio.left, popover.menu arrow.left { margin-left: -2px; margin-right: 6px; }

popover.menu check.right, popover.menu radio.right, popover.menu arrow.right { margin-left: 6px; margin-right: -2px; }

popover.menu modelbutton arrow { background: none; min-width: 16px; min-height: 16px; }

popover.menu modelbutton arrow.left { -gtk-icon-source: -gtk-icontheme("go-previous-symbolic"); }

popover.menu modelbutton arrow.right { -gtk-icon-source: -gtk-icontheme("go-next-symbolic"); }

popover.menu label.title { font-weight: bold; padding: 4px 32px; }

popover.menu list, popover.menu listview { background: none; color: inherit; }

popover.menu list > row, popover.menu listview > row { border-radius: 6.0px; padding: 0 12px; min-height: 32px; min-width: 40px; }

popover.menu list > row:selected, popover.menu listview > row:selected { background: none; }

popover.menu list > row > box, popover.menu listview > row > box { border-spacing: 6px; }

popover.menu contents > list, popover.menu contents > listview, popover.menu scrolledwindow > viewport > list, popover.menu scrolledwindow > listview { padding: 6px 0; }

popover.menu contents > list > row, popover.menu contents > listview > row, popover.menu scrolledwindow > viewport > list > row, popover.menu scrolledwindow > listview > row { margin: 0 6px; }

menubar { padding: 0px; }

menubar > item { min-height: 16px; padding: 4px 8px; }

menubar > item popover.menu popover.menu { padding: 0 0 4px 0; }

menubar > item popover.menu popover.menu > contents { margin: 0; }

popover.background { background-color: transparent; font: initial; }

popover > contents { padding: 8px; }

popover > contents > list, popover > contents > .view, popover > contents > toolbar { border-style: none; background-color: transparent; }

.osd popover, popover.touch-selection, popover.magnifier { background-color: transparent; }

.osd popover > arrow, .osd popover > contents, popover.touch-selection > arrow, popover.touch-selection > contents, popover.magnifier > arrow, popover.magnifier > contents { border: 1px solid rgba(255, 255, 255, 0.1); box-shadow: none; }

/******************** GtkMessageDialog * */
window.dialog.message .titlebar { min-height: 20px; background: none; border-style: none; border-top-left-radius: 7px; border-top-right-radius: 7px; }

window.dialog.message box.dialog-vbox.vertical { margin-top: 6px; border-spacing: 24px; }

window.dialog.message box.dialog-vbox.vertical > box > box > box > label.title { font-weight: 800; font-size: 15pt; }

window.dialog.message.csd .dialog-action-area { border-top: 1px solid @transparent_borders; margin: 0; border-spacing: 0; }

window.dialog.message.csd .dialog-action-area > button { padding: 10px 14px; border-radius: 0; border: none; background-clip: padding-box; border-left: 1px solid @transparent_borders; }

window.dialog.message.csd .dialog-action-area > button:first-child,
window.dialog.message.csd  { border-bottom-left-radius: 6.0px; border-left: none; }

window.dialog.message.csd .dialog-action-area > button:last-child,
window.dialog.message.csd  { border-bottom-right-radius: 6.0px; }

/******************** AdwMessageDialog * */
window.messagedialog { background-color: @dialog_bg_color; color: @dialog_fg_color; }

window.messagedialog.csd { outline: none; }

window.messagedialog .message-area { padding: 24px 30px; border-spacing: 10px; }

window.messagedialog .response-area > box > button { padding: 10px 14px; border-radius: 0; }

window.messagedialog .response-area > box > button.suggested { color: @accent_color; }

window.messagedialog .response-area > box > button.destructive { color: @destructive_color; }

window.messagedialog.csd:not(.solid-csd) { border-radius: 6.0px; }

window.messagedialog.csd:not(.solid-csd) .response-area > box.horizontal > button { margin-top: -1px; margin-right: -1px; margin-left: -1px; }

window.messagedialog.csd:not(.solid-csd) .response-area > box.horizontal > button:first-child { border-bottom-left-radius: 6.0px; margin-left: 0; }

window.messagedialog.csd:not(.solid-csd) .response-area > box.horizontal > button:last-child { border-bottom-right-radius: 6.0px; margin-right: 0; }

window.messagedialog.csd:not(.solid-csd) .response-area > box.vertical > button { margin-top: -1px; margin-bottom: -1px; }

window.messagedialog.csd:not(.solid-csd) .response-area > box.vertical > button:last-child { border-bottom-left-radius: 6.0px; border-bottom-right-radius: 6.0px; margin-bottom: 0; }

/********** Frames * */
frame, .frame { border: 1px solid @borders; }

frame { border-radius: 6.0px; }

frame > label { margin: 4px; }

/************** Separators * */
separator { background: @transparent_borders; min-width: 1px; min-height: 1px; }

separator.spacer { background: none; }

separator.spacer.horizontal { min-width: 12px; }

separator.spacer.vertical { min-height: 12px; }

/********************* App Notifications * */
.app-notification { border-spacing: 10px; background-clip: padding-box; }

.app-notification border { border: none; }

/********** Toasts * */
toast { margin: 12px; margin-bottom: 24px; border-radius: 6.0px; border-spacing: 6px; padding: 6px; }

toast:dir(ltr) { padding-left: 12px; }

toast:dir(rtl) { padding-right: 12px; }

toast > widget { margin: 0 6px; }

/************** GtkVideo * */
video { background: black; }

video image.osd { min-width: 64px; min-height: 64px; border-radius: 6.0px; }

/**************** GtkStatusBar * */
statusbar { padding: 6px 10px 6px 10px; }

/****************** AdwAboutWindow * */
window.about .main-page > viewport > clamp > box { margin: 12px; border-spacing: 6px; }

window.about .main-page > viewport > clamp > box > box { margin-top: 18px; border-spacing: 18px; margin-bottom: 6px; }

window.about .main-page .app-version { padding: 3px 18px; color: @accent_color; border-radius: 999px; margin-top: 3px; }

window.about .subpage > viewport > clamp > box { margin: 18px 12px; border-spacing: 18px; }

window.about .subpage > clamp > textview { background: none; color: inherit; }

/***************** AdwStatusPage * */
statuspage > scrolledwindow > viewport > box { margin: 36px 12px; border-spacing: 36px; }

statuspage > scrolledwindow > viewport > box > clamp > box { border-spacing: 12px; }

statuspage > scrolledwindow > viewport > box > clamp > box > .icon { -gtk-icon-size: 128px; color: alpha(currentColor,0.55); }

statuspage > scrolledwindow > viewport > box > clamp > box > .icon:disabled { opacity: 0.5; }

statuspage > scrolledwindow > viewport > box > clamp > box > .icon:not(:last-child) { margin-bottom: 24px; }

statuspage.compact > scrolledwindow > viewport > box { margin: 24px 12px; border-spacing: 24px; }

statuspage.compact > scrolledwindow > viewport > box > clamp > box > .icon { -gtk-icon-size: 96px; }

statuspage.compact > scrolledwindow > viewport > box > clamp > box > .icon:not(:last-child) { margin-bottom: 12px; }

statuspage.compact > scrolledwindow > viewport > box > clamp > box > .title { font-size: 18pt; }

paned > separator { min-width: 1px; min-height: 1px; background: none; background-size: 1px 1px; }

paned > separator.wide { min-width: 5px; min-height: 5px; }

paned.horizontal > separator:dir(ltr) { margin: 0 -8px 0 0; padding: 0 8px 0 0; box-shadow: inset 1px 0 @borders; }

paned.horizontal > separator:dir(rtl) { margin: 0 0 0 -8px; padding: 0 0 0 8px; box-shadow: inset -1px 0 @borders; }

paned.horizontal > separator.wide { margin: 0; padding: 0; box-shadow: inset 1px 0 @borders, inset -1px 0 @borders; }

paned.vertical > separator { margin: 0 0 -8px 0; padding: 0 0 8px 0; box-shadow: inset 0 1px @borders; }

paned.vertical > separator.wide { margin: 0; padding: 0; box-shadow: inset 0 1px @borders, inset 0 -1px @borders; }

preferencespage > scrolledwindow > viewport > clamp > box { margin: 24px 12px; border-spacing: 24px; }

preferencesgroup > box, preferencesgroup > box .labels { border-spacing: 6px; }

preferencesgroup > box > box.header:not(.single-line) { margin-bottom: 6px; }

preferencesgroup > box > box.single-line { min-height: 34px; }

/* Progress Bar */

progressbar.horizontal > trough { min-width: 150px; }

progressbar.horizontal > trough, progressbar.horizontal > trough > progress { min-height: 8px; }

progressbar.vertical > trough { min-height: 80px; }

progressbar.vertical > trough, progressbar.vertical > trough > progress { min-width: 8px; }

progressbar > text { font-size: smaller; }

progressbar > trough.empty > progress { all: unset; }

/* Level Bar */

levelbar.horizontal trough > block { min-height: 8px; }

levelbar.horizontal.discrete > trough > block { min-height: 8px; margin-right: 2px; min-width: 26px; }

levelbar.horizontal.discrete > trough > block:last-child { margin-right: 0; }

levelbar.vertical trough > block { min-width: 8px; }

levelbar.vertical.discrete > trough > block { min-width: 8px; margin-bottom: 2px; min-height: 26px; }

levelbar.vertical.discrete > trough > block:last-child { margin-bottom: 0; }

levelbar > trough { padding: 0; }

levelbar > trough > block.low { background-color: @warning_bg_color; }

levelbar > trough > block.high, levelbar > trough > block:not(.empty) { background-color: @accent_bg_color; }

levelbar > trough > block.full { background-color: @success_bg_color; }

levelbar > trough > block.empty { background-color: transparent; }

/* Scale Bar */

scale { padding: 12px; }

scale > trough > slider { min-width: 20px; min-height: 20px; margin: -6px; }

scale.horizontal > marks.top { margin-bottom: 6px; }

scale.horizontal > marks.bottom { margin-top: 6px; }

scale.horizontal > marks indicator { background-color: currentColor; min-height: 6px; min-width: 1px; }

scale.horizontal > value.left { margin-right: 9px; }

scale.horizontal > value.right { margin-left: 9px; }

scale.vertical > marks.top { margin-right: 6px; }

scale.vertical > marks.bottom { margin-left: 6px; }

scale.vertical > marks indicator {min-height: 1px; min-width: 6px; }

scale.vertical > value.top { margin-bottom: 9px; }

scale.vertical > value.bottom { margin-top: 9px; }

scale.vertical.fine-tune > marks.top { margin-left: 3px; }

scale.vertical.fine-tune > marks.bottom { margin-right: 3px; }

scale.vertical.fine-tune > marks indicator { min-height: 3px; }

scale.vertical.marks-before { padding-left: 0; }

scale.vertical.marks-after { padding-right: 0; }

/* Scroll Bar */

scrollbar > range > trough { margin: 0px; transition: all 200ms linear; background:none; }

scrollbar > range > trough > slider {
	min-width: 10px;
	min-height: 10px;
	margin: 0px;
	border: none;
	border-radius: 0px;
	background-clip: border-box;
	transition: all 200ms linear;
	background-color: mix(@window_bg_color,@window_fg_color,0.5);
	}

scrolledwindow > overshoot.top { background-image: radial-gradient(farthest-side at top, alpha(currentColor,0.12) 85%, alpha(currentColor,0)), radial-gradient(farthest-side at top, alpha(currentColor,0.05), alpha(currentColor,0)); background-size: 100% 3%, 100% 50%; background-repeat: no-repeat; background-position: top; background-color: transparent; border: none; box-shadow: none; }

scrolledwindow > overshoot.bottom { background-image: radial-gradient(farthest-side at bottom, alpha(currentColor,0.12) 85%, alpha(currentColor,0)), radial-gradient(farthest-side at bottom, alpha(currentColor,0.05), alpha(currentColor,0)); background-size: 100% 3%, 100% 50%; background-repeat: no-repeat; background-position: bottom; background-color: transparent; border: none; box-shadow: none; }

scrolledwindow > overshoot.left { background-image: radial-gradient(farthest-side at left, alpha(currentColor,0.12) 85%, alpha(currentColor,0)), radial-gradient(farthest-side at left, alpha(currentColor,0.05), alpha(currentColor,0)); background-size: 3% 100%, 50% 100%; background-repeat: no-repeat; background-position: left; background-color: transparent; border: none; box-shadow: none; }

scrolledwindow > overshoot.right { background-image: radial-gradient(farthest-side at right, alpha(currentColor,0.12) 85%, alpha(currentColor,0)), radial-gradient(farthest-side at right, alpha(currentColor,0.05), alpha(currentColor,0)); background-size: 3% 100%, 50% 100%; background-repeat: no-repeat; background-position: right; background-color: transparent; border: none; box-shadow: none; }

scrolledwindow > junction { background: linear-gradient(to bottom right, @borders 1px, @view_bg_color 1px); }

scrolledwindow > junction:dir(rtl) { background: linear-gradient(to bottom left, @borders 1px, @view_bg_color 1px); }

shortcuts-section { margin: 20px; }

.shortcuts-search-results { margin: 20px; border-spacing: 24px; }

shortcut { border-spacing: 6px; }

shortcut > .keycap { min-width: 20px; min-height: 25px; padding: 2px 6px; border-radius: 6.0px; font-size: smaller; }

stackswitcher > button.text-button { min-width: 100px; }

stackswitcher.circular { border-spacing: 12px; }

stackswitcher.circular > button.circular, stackswitcher.circular > button.text-button.circular { min-width: 32px; min-height: 32px; padding: 0; }

.sidebar:not(separator):dir(ltr), .sidebar:not(separator).left, .sidebar:not(separator).left:dir(rtl) { border-right: 1px solid @borders; border-left-style: none; }

.sidebar:not(separator):dir(rtl), .sidebar:not(separator).right { border-left: 1px solid @borders; border-right-style: none; }

.sidebar listview.view, .sidebar list { background-color: transparent; color: inherit; }

paned .sidebar.left, paned .sidebar.right, paned .sidebar.left:dir(rtl), paned .sidebar:dir(rtl), paned .sidebar:dir(ltr), paned .sidebar { border-style: none; }

stacksidebar row { padding: 10px 4px; }

stacksidebar row > label { padding-left: 6px; padding-right: 6px; }

stacksidebar row.needs-attention > label { background-size: 6px 6px, 0 0; }

separator.sidebar { background-color: @transparent_borders; }

/********************** Navigation Sidebar * */
.navigation-sidebar { padding: 6px 0; }

.navigation-sidebar, .navigation-sidebar.view { background-color: transparent; color: inherit; }

.navigation-sidebar.background { background-color: @window_bg_color; color: @window_fg_color; }

.navigation-sidebar > separator { margin: 6px; }

.navigation-sidebar > row { min-height: 36px; padding: 0 8px; border-radius: 6.0px; margin: 0 6px 2px; }

/******************** GtkPlacesSidebar * */
row image.sidebar-icon { opacity: 0.7; }

row .sidebar-button { opacity: 0.7; }

row .sidebar-button:hover, row .sidebar-button:active, row .sidebar-button.keyboard-activating { opacity: 1; }

/* this should be more generic, only using .navigation-sidebar https://gitlab.gnome.org/GNOME/gtk/-/issues/2929 */
placessidebar .navigation-sidebar > row { padding: 0; }

placessidebar .navigation-sidebar > row > revealer { padding: 0 14px; }

placessidebar .navigation-sidebar > row image.sidebar-icon:dir(ltr) { padding-right: 8px; }

placessidebar .navigation-sidebar > row image.sidebar-icon:dir(rtl) { padding-left: 8px; }

placessidebar .navigation-sidebar > row label.sidebar-label:dir(ltr) { padding-right: 2px; }

placessidebar .navigation-sidebar > row label.sidebar-label:dir(rtl) { padding-left: 2px; }

button.sidebar-button { min-height: 26px; min-width: 26px; margin-top: 3px; margin-bottom: 3px; padding: 0; border-radius: 100%; }

placessidebar .navigation-sidebar > row:selected:active { box-shadow: none; }

placessidebar .navigation-sidebar > row.sidebar-placeholder-row { padding: 0 8px; min-height: 2px; background-image: image(@accent_bg_color); background-clip: content-box; }

placessidebar .navigation-sidebar > row.sidebar-new-bookmark-row { color: @accent_color; }

placessidebar .navigation-sidebar > row:drop(active):not(:disabled) { color: @accent_bg_color; box-shadow: inset 0 0 0 1px @accent_bg_color; }

@keyframes spin { to { transform: rotate(1turn); } }

spinner { background: none; opacity: 0; -gtk-icon-source: -gtk-icontheme("process-working-symbolic"); }

spinner:checked { opacity: 1; animation: spin 1s linear infinite; }

spinner:checked:disabled { opacity: 0.5; }

/* Spin Button */

spinbutton { padding: 0; border-spacing: 0; /* :not here just to bump specificity above that of the list button styling */ }

spinbutton:not(.vertical) { /* :not here just to bump specificity above that of the list button styling */ }

spinbutton:not(.vertical) > text { min-width: 28px; padding: 6px; }

spinbutton.vertical { /* :not here just to bump specificity above that of the list button styling */ }

spinbutton.vertical > text { min-height: 30px; min-width: 30px; }

spinbutton.vertical text {background-color: @view_bg_color; border: 1px solid @transparent_borders;}

spinbutton.vertical text:disabled{background-color: transparent; }

treeview spinbutton:not(.vertical) { min-height: 0; border-style: none; border-radius: 0; }

treeview spinbutton:not(.vertical) > text { min-height: 0; padding: 1px 2px; }

/* Switch */

switch { padding: 2px; }

switch > image { color: transparent; }

switch > slider { margin: 4px; min-width: 16px; min-height: 16px; }

/* Tab Bar */

tabbar .box { min-height: 38px; }

tabbar tabbox > tabboxchild { border-radius: 6.0px; margin-bottom: 5px; margin-top: 5px; }

tabbar tabbox > tabboxchild { outline: 0 solid transparent; outline-offset: 4px;  }

tabbar tabbox > tabboxchild:focus:focus-visible { outline-color: @accent_bg_color; outline-width: 2px; outline-offset: -2px; }

tabbar tabbox > separator { margin-top: 9px; margin-bottom: 9px; transition: opacity 150ms ease-in-out; }

tabbar tabbox > separator.hidden { opacity: 0; }

tabbar tabbox > revealer > indicator { min-width: 2px; border-radius: 2px; margin: 9px 6px; background: @accent_bg_color; }

tabbar tab { transition: background 150ms ease-in-out; }

tabbar tab:selected { background-color: alpha(currentColor,0.1); }

tabbar tab:selected:hover { background-color: alpha(currentColor,0.13); }

tabbar tab:selected:active { background-color: alpha(currentColor,0.19); }

tabbar tab:hover { background-color: alpha(currentColor,0.07); }

tabbar tab:active { background-color: alpha(currentColor,0.16); }

tabbar tabbox.single-tab tab, tabbar tabbox.single-tab tab:hover, tabbar tabbox.single-tab tab:active { background: none; }

tabbar .start-action, tabbar .end-action { padding: 5px; }

tabbar .start-action:dir(ltr), tabbar .end-action:dir(rtl) { padding-right: 0; }

tabbar .start-action:dir(rtl), tabbar .end-action:dir(ltr) { padding-left: 0; }

tabbar:not(.inline) .box { background-color: @headerbar_bg_color; color: @headerbar_fg_color; padding-bottom: 1px; box-shadow: inset 0 -1px @headerbar_shade_color; }

tabbar:not(.inline):backdrop .box { background-color: @headerbar_backdrop_color; transition: background-color 200ms ease-out; }

tabbar:not(.inline):backdrop .box > scrolledwindow, tabbar:not(.inline):backdrop .box > .start-action, tabbar:not(.inline):backdrop .box > .end-action { filter: opacity(0.5); transition: filter 200ms ease-out; }

dnd tab { background-color: @headerbar_bg_color; background-image: image(alpha(currentColor,0.19)); color: @headerbar_fg_color; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 1px 3px 1px rgba(0, 0, 0, 0.07), 0 2px 6px 2px rgba(0, 0, 0, 0.03); margin: 25px; }

tabbar tab, dnd tab { min-height: 26px; padding: 4px; border-radius: 6.0px; }

tabbar tab button.image-button, dnd tab button.image-button { padding: 0; margin: 0; min-width: 24px; min-height: 24px; border-radius: 99px; }

tabbar tab indicator, dnd tab indicator { min-height: 2px; border-radius: 2px; background: @accent_bg_color; transform: translateY(4px); }

tabview:drop(active), tabbox:drop(active) { box-shadow: none; }

cursor-handle { all: unset; padding: 24px 20px; }

cursor-handle > contents { min-width: 20px; min-height: 20px; border-radius: 50%; background-color: @accent_bg_color; }

cursor-handle.top > contents { border-top-right-radius: 0; }

cursor-handle.bottom > contents { border-top-left-radius: 0; transform: translateX(1px); }

cursor-handle.insertion-cursor > contents { border-top-left-radius: 0; transform: translateX(1px) translateY(4px) rotate(45deg); }

magnifier { background-color: @view_bg_color; }

actionbar > revealer > box.osd button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque):focus:focus-visible, searchbar > revealer > box.osd button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque):focus:focus-visible, .osd.toolbar button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque):focus:focus-visible, headerbar.osd button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque):focus:focus-visible { outline-color: rgba(255, 255, 255, 0.5); }

actionbar > revealer > box menubutton.suggested-action > button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), searchbar > revealer > box menubutton.suggested-action > button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .toolbar menubutton.suggested-action > button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), headerbar menubutton.suggested-action > button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), actionbar > revealer > box menubutton.destructive-action > button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), searchbar > revealer > box menubutton.destructive-action > button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .toolbar menubutton.destructive-action > button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), headerbar menubutton.destructive-action > button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), actionbar > revealer > box menubutton.opaque > button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), searchbar > revealer > box menubutton.opaque > button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), .toolbar menubutton.opaque > button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque), headerbar menubutton.opaque > button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) { color: inherit; background-color: transparent; }

actionbar > revealer > box menubutton > button, searchbar > revealer > box menubutton > button, .toolbar menubutton > button, headerbar menubutton > button, actionbar > revealer > box splitbutton > button, searchbar > revealer > box splitbutton > button, .toolbar splitbutton > button, headerbar splitbutton > button, actionbar > revealer > box splitbutton > menubutton, searchbar > revealer > box splitbutton > menubutton, .toolbar splitbutton > menubutton, headerbar splitbutton > menubutton, actionbar > revealer > box scalebutton > button, searchbar > revealer > box scalebutton > button, .toolbar scalebutton > button, headerbar scalebutton > button,
actionbar > revealer > box popover entry, searchbar > revealer > box popover entry, .toolbar popover entry, headerbar popover entry, actionbar > revealer > box popover spinbutton, searchbar > revealer > box popover spinbutton, .toolbar popover spinbutton, headerbar popover spinbutton, actionbar > revealer > box popover splitbutton, searchbar > revealer > box popover splitbutton, .toolbar popover splitbutton, headerbar popover splitbutton, actionbar > revealer > box popover separator:not(.sidebar), searchbar > revealer > box popover separator:not(.sidebar), .toolbar popover separator:not(.sidebar), headerbar popover separator:not(.sidebar), actionbar > revealer > box popover button, searchbar > revealer > box popover button, .toolbar popover button, headerbar popover button, actionbar > revealer > box popover menubutton, searchbar > revealer > box popover menubutton, .toolbar popover menubutton, headerbar popover menubutton, actionbar > revealer > box popover scalebutton, searchbar > revealer > box popover scalebutton, .toolbar popover scalebutton, headerbar popover scalebutton, actionbar > revealer > box popover switch, searchbar > revealer > box popover switch, .toolbar popover switch, headerbar popover switch { margin-top: 0; margin-bottom: 0; }

actionbar > revealer > box splitbutton > separator.vertical,
searchbar > revealer > box splitbutton > separator.vertical,
.toolbar splitbutton > separator.vertical,
actionbar > revealer > box entry,
searchbar > revealer > box entry,
.toolbar entry, headerbar entry,
actionbar > revealer > box spinbutton,
searchbar > revealer > box spinbutton,
.toolbar spinbutton,
actionbar > revealer > box splitbutton,
searchbar > revealer > box splitbutton,
.toolbar splitbutton,
actionbar > revealer > box separator:not(.sidebar),
searchbar > revealer > box separator:not(.sidebar),
.toolbar separator:not(.sidebar),
actionbar > revealer > box button,
searchbar > revealer > box button,
.toolbar button, headerbar button,
actionbar > revealer > box menubutton,
searchbar > revealer > box menubutton,
.toolbar menubutton,
actionbar > revealer > box scalebutton,
searchbar > revealer > box scalebutton,
.toolbar scalebutton,
actionbar > revealer > box popover.menu separator:not(.sidebar),
searchbar > revealer > box popover.menu separator:not(.sidebar),
.toolbar popover.menu separator:not(.sidebar)
{ margin-top: 4px; margin-bottom: 4px; }

.toolbar { padding: 0 6px; border-spacing: 6px; border-top: 1px solid @borders; }

.toolbar.osd { padding: 6px 12px; border-radius: 6.0px; }

/**************** GtkSearchBar * */
searchbar:not(.inline) > revealer > box { background-color: @headerbar_bg_color; color: @headerbar_fg_color; box-shadow: inset 0 -1px @headerbar_shade_color; padding-bottom: 1px; }

searchbar:not(.inline) > revealer > box:backdrop { background-color: @headerbar_backdrop_color; transition: background-color 200ms ease-out; }

searchbar:not(.inline) > revealer > box:backdrop > * { filter: opacity(0.5); transition: filter 200ms ease-out; }

searchbar > revealer > box { padding: 0px 6px; border-spacing: 6px; }

searchbar > revealer > box .close { min-width: 18px; min-height: 18px; padding: 4px; border-radius: 50%; }

/* Action Bar */
actionbar > revealer > box { padding: 1px 6px 0px 6px; }

actionbar > revealer > box, actionbar > revealer > box > box.start, actionbar > revealer > box > box.end { border-spacing: 6px; }

/* Info Bar */

infobar > revealer > box { padding: 6px; border-spacing: 6px; }

infobar > revealer > box > box { border-spacing: 6px; }

/* Tooltip */

tooltip { padding: 6px 10px; border-radius: 6.0px; box-shadow: none; }

tooltip.background { background-color: rgba(0, 0, 0, 0.8); background-clip: padding-box; border: 1px solid rgba(255, 255, 255, 0.1); color: white; }

tooltip > box { border-spacing: 6px; }

flap > dimming, leaflet > dimming { background: @shade_color; }

flap > shadow, leaflet > shadow { min-width: 56px; min-height: 56px; }

flap > shadow.left, leaflet > shadow.left { background-image: linear-gradient(to right, alpha(@shade_color,0.7), alpha(@shade_color,0.14) 40px, alpha(@shade_color,0) 56px), linear-gradient(to right, alpha(@shade_color,0.4), alpha(@shade_color,0.14) 7px, alpha(@shade_color,0) 24px); }

flap > shadow.right, leaflet > shadow.right { background-image: linear-gradient(to left, alpha(@shade_color,0.7), alpha(@shade_color,0.14) 40px, alpha(@shade_color,0) 56px), linear-gradient(to left, alpha(@shade_color,0.4), alpha(@shade_color,0.14) 7px, alpha(@shade_color,0) 24px); }

flap > shadow.up, leaflet > shadow.up { background-image: linear-gradient(to bottom, alpha(@shade_color,0.7), alpha(@shade_color,0.14) 40px, alpha(@shade_color,0) 56px), linear-gradient(to bottom, alpha(@shade_color,0.4), alpha(@shade_color,0.14) 7px, alpha(@shade_color,0) 24px); }

flap > shadow.down, leaflet > shadow.down { background-image: linear-gradient(to top, alpha(@shade_color,0.7), alpha(@shade_color,0.14) 40px, alpha(@shade_color,0) 56px), linear-gradient(to top, alpha(@shade_color,0.4), alpha(@shade_color,0.14) 7px, alpha(@shade_color,0) 24px); }

treeview.view { border-left-color: @borders; border-top-color: @borders; }

columnview.view, treeview.view { outline: 0 solid transparent; outline-offset: 4px;  }

columnview.view:focus:focus-visible, treeview.view:focus:focus-visible { outline-color: @accent_bg_color; outline-width: 2px; outline-offset: -2px; }

columnview.view:selected:focus, columnview.view:selected, treeview.view:selected:focus, treeview.view:selected { border-radius: 0; }

columnview.view.separator, treeview.view.separator { min-height: 2px; color: @borders; }

columnview.view:drop(active), treeview.view:drop(active) { box-shadow: none; }

columnview.view > dndtarget:drop(active), treeview.view > dndtarget:drop(active) { border-style: solid none; border-width: 1px; border-color: @accent_bg_color; }

columnview.view > dndtarget:drop(active).after, treeview.view > dndtarget:drop(active).after { border-top-style: none; }

columnview.view > dndtarget:drop(active).before, treeview.view > dndtarget:drop(active).before { border-bottom-style: none; }

columnview.view.expander, treeview.view.expander { min-width: 16px; min-height: 16px; -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); color: alpha(currentColor,0.7); }

columnview.view.expander:dir(rtl), treeview.view.expander:dir(rtl) { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl"); }

columnview.view.expander:hover, columnview.view.expander:active, treeview.view.expander:hover, treeview.view.expander:active { color: currentColor; }

columnview.view.expander:checked, treeview.view.expander:checked { -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }

columnview.view.expander:disabled, treeview.view.expander:disabled { color: alpha(currentColor,0.5); }

columnview.view.progressbar, treeview.view.progressbar { box-shadow: none; }

columnview.view.progressbar, columnview.view.progressbar:selected, treeview.view.progressbar, treeview.view.progressbar:selected { background-color: @accent_bg_color; color: @accent_fg_color; }

columnview.view.trough, treeview.view.trough { background-color: alpha(currentColor,0.1); }

columnview.view > header > button, treeview.view > header > button { border-radius: 0; box-shadow: none; line-height: 100%; }

columnview.view > header > button sort-indicator, treeview.view > header > button sort-indicator { min-height: 16px; min-width: 16px; }

columnview.view > header > button sort-indicator.ascending, treeview.view > header > button sort-indicator.ascending { -gtk-icon-source: -gtk-icontheme("pan-up-symbolic"); }

columnview.view > header > button sort-indicator.descending, treeview.view > header > button sort-indicator.descending { -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }

columnview.view button.dnd:active, columnview.view button.dnd:selected, columnview.view button.dnd:hover, columnview.view button.dnd, columnview.view header.button.dnd:active, columnview.view header.button.dnd:selected, columnview.view header.button.dnd:hover, columnview.view header.button.dnd, treeview.view button.dnd:active, treeview.view button.dnd:selected, treeview.view button.dnd:hover, treeview.view button.dnd, treeview.view header.button.dnd:active, treeview.view header.button.dnd:selected, treeview.view header.button.dnd:hover, treeview.view header.button.dnd { color: @accent_fg_color; background-color: @accent_bg_color; transition: none; }

columnview.view acceleditor > label, treeview.view acceleditor > label { background-color: mix(currentColor,@view_bg_color,0.9); }

treeview.navigation-sidebar { padding: 0; }

/******************************************************** Data Tables                                          * treeview like tables with individual focusable cells * https://gitlab.gnome.org/GNOME/gtk/-/issues/2929     * */
columnview > listview > row { padding: 0; }

columnview > listview > row > cell { padding: 8px 6px; }

columnview > listview > row > cell:not(:first-child) { border-left: 1px solid transparent; }

columnview > header > button { padding-left: 6px; padding-right: 6px; border-left: 1px solid transparent; }

columnview > header > button:first-child { border-left-width: 0; }

columnview.column-separators > listview > row > cell, columnview.column-separators > header > button { border-left-color: @borders; }

columnview > listview:not(.horizontal).separators > row:not(.separator) { border-top: 1px solid @borders; border-bottom: none; }

columnview.data-table > listview > row > cell { padding-top: 2px; padding-bottom: 2px; }

columnview ~ undershoot.top { box-shadow: inset 0 1px @borders; }

columnview row:not(:selected) cell editablelabel:not(.editing):focus-within { outline: 2px solid @accent_bg_color; }

columnview row:not(:selected) cell editablelabel.editing:focus-within { outline: 2px solid @accent_color; }

treeexpander { border-spacing: 4px; }

.view:selected:focus, .view:selected, iconview:selected, textview > text:selected { background-color: alpha(currentColor,0.1); border-radius: 6.0px; }

textview { caret-color: currentColor; }

textview > text { background-color: transparent; }

textview > border { background-color: mix(@window_bg_color,@view_bg_color,0.5); }

textview:drop(active) { caret-color: @accent_bg_color; }

iconview { outline: 0 solid transparent; outline-offset: 4px;  }

iconview:focus:focus-visible { outline-color: @accent_bg_color; outline-width: 2px; outline-offset: -2px; }

iconview:drop(active) { box-shadow: none; }

iconview > dndtarget:drop(active) { border-style: solid; border-width: 1px; border-color: @accent_bg_color; }

rubberband { border: 1px solid @accent_color; background-color: alpha(@accent_color,0.2); }

flowbox > flowboxchild, gridview > child { padding: 3px; border-radius: 6.0px; }

flowbox > flowboxchild, gridview > child { outline: 0 solid transparent; outline-offset: 4px;  }

flowbox > flowboxchild:focus:focus-visible, gridview > child:focus:focus-visible { outline-color: @accent_bg_color; outline-width: 2px; outline-offset: -2px; }

flowbox > flowboxchild:selected, gridview > child:selected { background-color: alpha(currentColor,0.1); }

gridview > child.activatable:hover { background-color: alpha(currentColor,0.07); }

gridview > child.activatable:active { background-color: alpha(currentColor,0.16); }

gridview > child.activatable:selected:hover { background-color: alpha(currentColor,0.13); }

gridview > child.activatable:selected:active { background-color: alpha(currentColor,0.19); }

/* AdwIndicatorBin */
indicatorbin > indicator, indicatorbin > mask { min-width: 6px; min-height: 6px; border-radius: 100px; }

indicatorbin > indicator { margin: 1px; background: alpha(currentColor,0.4); }

indicatorbin > indicator > label { font-size: 0.6rem; font-weight: bold; padding: 1px 4px; color: white; }

indicatorbin > mask { padding: 1px; background: black; }

indicatorbin.needs-attention > indicator { background: @accent_color; }

indicatorbin.needs-attention.badge > indicator { background: @accent_bg_color; }

indicatorbin.needs-attention.badge > indicator > label { color: @accent_fg_color; }

/* Decoration */

window { border-width: 0px; }

window.csd { box-shadow: 0 1px 3px 3px transparent, 0 2px 8px 2px rgba(0, 0, 0, 0.13), 0 3px 20px 10px rgba(0, 0, 0, 0.09), 0 6px 32px 16px rgba(0, 0, 0, 0.04), 0 0 0 1px @transparent_borders; margin: 0px; border-radius: 6.0px; }

window.csd:backdrop { box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.09), 0 2px 14px 5px rgba(0, 0, 0, 0.05), 0 4px 28px 12px rgba(0, 0, 0, 0.03), 0 6px 32px 16px transparent, 0 0 0 1px @transparent_borders; transition: box-shadow 200ms ease-out; }

window.csd.dialog.message { box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.07), 0 3px 20px 10px rgba(0, 0, 0, 0.05), 0 6px 32px 16px rgba(0, 0, 0, 0.02), 0 0 0 1px @transparent_borders; }

window.csd.tiled, window.csd.tiled-top, window.csd.tiled-left, window.csd.tiled-right, window.csd.tiled-bottom { border-radius: 0; outline: none; box-shadow: 0 0 0 1px @transparent_borders, 0 0 0 20px transparent; }

window.csd.tiled:backdrop, window.csd.tiled-top:backdrop, window.csd.tiled-left:backdrop, window.csd.tiled-right:backdrop, window.csd.tiled-bottom:backdrop { box-shadow: 0 0 0 1px @transparent_borders, 0 0 0 20px transparent; }

window.csd.maximized, window.csd.fullscreen { border-radius: 0; outline: none; box-shadow: none; transition: none; }

window.solid-csd { margin: 0; padding: 5px; border-radius: 0; box-shadow: inset 0 0 0 5px @transparent_borders, inset 0 0 0 4px @headerbar_bg_color, inset 0 0 0 1px @transparent_borders; }

window.solid-csd:backdrop { box-shadow: inset 0 0 0 5px @transparent_borders, inset 0 0 0 4px @headerbar_backdrop_color, inset 0 0 0 1px @transparent_borders; }

window.ssd { box-shadow: 0 0 0 1px @transparent_borders; }
