
* {
	padding: 0;
	background-clip: padding-box;
	-GtkToolButton-icon-spacing: 4;
	-GtkTextView-error-underline-color: @error_bg_color;
	-GtkScrolledWindow-scrollbar-spacing: 0;
	-GtkToolItemGroup-expander-size: 11;
	-GtkWidget-text-handle-width: 20;
	-GtkWidget-text-handle-height: 24;
	-GtkDialog-button-spacing: 4;
	-GtkDialog-action-area-border: 0;
	outline-color: alpha(currentColor,0.3);
	outline-style: dashed;
	outline-offset: -3px;
	outline-width: 1px;
	-gtk-outline-radius: 4px;
	-gtk-secondary-caret-color:
	@accent_bg_color;
	}

flowbox flowboxchild { padding: 3px; }

.content-view .tile { margin: 2px; padding: 0; }

assistant .sidebar label { padding: 6px 12px; }

*:disabled { -gtk-icon-effect: dim; }

notebook > header > tabs > arrow:hover,
button:hover,
.content-view:hover { -gtk-icon-effect: highlight; }

notebook > header > tabs > arrow:backdrop,
button:backdrop.flat,
button:backdrop,
.xfce4-panel.background button menu,
.selection-mode .titlebar:not(headerbar) button:backdrop,
.selection-mode.titlebar:not(headerbar) button:backdrop,
.selection-mode headerbar button:backdrop.flat,
.selection-mode headerbar button:backdrop,
headerbar.selection-mode button:backdrop.flat,
headerbar.selection-mode button:backdrop { -gtk-icon-effect: none; }

avatar,
button.circular,
button.sidebar-button,
switch slider
{ -gtk-outline-radius: 9999px; }

/* Entry */

spinbutton:not(.vertical), entry { min-height: 32px; padding-left: 8px; padding-right: 8px; }

spinbutton:not(.vertical) progress, entry progress { margin: 2px -6px; }

spinbutton:not(.vertical) image.left, entry image.left { margin-right: 6px; }

spinbutton:not(.vertical) image.right, entry image.right { margin-left: 6px; }

/* Button */

.titlebar button box,
toolbar button box{margin: -4px;}

.stack-switcher > button { outline-offset: -3px; }

.primary-toolbar button { -gtk-icon-shadow: none; }

button.circular label { padding: 0; }

modelbutton.flat arrow.left { -gtk-icon-source: -gtk-icontheme("pan-start-symbolic"); }

modelbutton.flat arrow.right { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }

spinbutton:not(.vertical) { padding: 0; }

.osd spinbutton:not(.vertical) entry, spinbutton:not(.vertical) entry { min-width: 28px; margin: 0; }

spinbutton:not(.vertical) button { min-height: 16px; margin: 0; padding-bottom: 0; padding-top: 0; }

spinbutton.vertical entry { min-height: 32px; min-width: 32px; padding: 0; }

spinbutton.vertical button { min-height: 32px; min-width: 32px; padding: 0; }

treeview spinbutton:not(.vertical) { min-height: 0; }

treeview spinbutton:not(.vertical) entry { min-height: 0; padding: 1px 2px; }

.entry-tag { padding: 5px; margin-top: 2px; margin-bottom: 2px; }

:dir(ltr) .entry-tag { margin-left: 8px; margin-right: -5px; }

:dir(rtl) .entry-tag { margin-left: -5px; margin-right: 8px; }

/* Tool Bar */

searchbar > revealer > box, .location-bar, .inline-toolbar, toolbar { -GtkWidget-window-dragging: true; padding: 4px; }

toolbar { padding: 4px 3px 3px 4px; }

toolbar.horizontal separator { margin: 0 7px 1px 6px; }

toolbar.vertical separator { margin: 6px 1px 7px 0; }

toolbar:not(.inline-toolbar):not(.osd) > *:not(.toggle):not(.popup) > * { margin-right: 1px; margin-bottom: 1px; }

.inline-toolbar { padding: 3px; }

searchbar > revealer > box, .location-bar { padding: 3px; }

searchbar > revealer > box { margin: -6px; padding: 6px; }

toolbar:not(.inline-toolbar):not(.osd) > *:not(.toggle):not(.popup) > * { margin-right: 1px; margin-bottom: 1px; }

/* Header Bar */

.windowhandle, .windowhandle * { -GtkWidget-window-dragging: true; }

.ssd .titlebar.default-decoration button.titlebutton { min-height: 24px; min-width: 24px; margin: 4px 0px 4px 0px; }

.titlebar:not(headerbar), headerbar { padding: 0 4px; }

.titlebar:not(headerbar) .title, headerbar .title { padding-left: 12px; padding-right: 12px; font-weight: bold; }

.titlebar:not(headerbar) .subtitle, headerbar .subtitle { font-size: smaller; padding-left: 12px; padding-right: 12px; }

.solid-csd .titlebar:dir(rtl):not(headerbar), .solid-csd .titlebar:dir(ltr):not(headerbar), .solid-csd headerbar:backdrop:dir(rtl), .solid-csd headerbar:backdrop:dir(ltr), .solid-csd headerbar:dir(rtl), .solid-csd headerbar:dir(ltr) { margin-left: -1px; margin-right: -1px; margin-top: -1px; }

headerbar > box {margin: -1px 0px;}

headerbar entry, .titlebar entry { min-height: 32px; }

window.csd > .titlebar:not(headerbar) { padding: 0px; }

button.titlebutton {  padding: 4px; margin: 0; min-width: 24px; min-height: 24px; }

.keycap { min-width: 20px; min-height: 25px; margin-top: 2px; padding-bottom: 3px; padding-left: 6px; padding-right: 6px; }

stackswitcher button.text-button { min-width: 100px; }

stackswitcher button.circular, stackswitcher button.text-button.circular { min-width: 32px; min-height: 32px; padding: 0; }

headerbar entry image.left, .titlebar entry image.left { margin-right: 6px; }

headerbar entry image.right, .titlebar entry image.right { margin-left: 6px; }

headerbar entry.flat:focus, headerbar entry.flat:backdrop, headerbar entry.flat:disabled, headerbar entry.flat:backdrop:disabled, headerbar entry.flat, .titlebar entry.flat:focus, .titlebar entry.flat:backdrop, .titlebar entry.flat:disabled, .titlebar entry.flat:backdrop:disabled, .titlebar entry.flat { min-height: 0; padding: 2px; }

headerbar entry progress, .titlebar entry progress { margin: 2px -6px; }

headerbar .right, .titlebar .right { margin-left: -4px; }

headerbar .right separator, .titlebar .right separator { min-width: 0; }

headerbar .left, .titlebar .left { margin-right: -4px; }

headerbar .left separator, .titlebar .left separator { min-width: 0; }

.tiled .titlebar:not(headerbar),
.tiled-top .titlebar:not(headerbar),
.tiled-right .titlebar:not(headerbar),
.tiled-bottom .titlebar:not(headerbar),
.tiled-left .titlebar:not(headerbar),
.maximized .titlebar:not(headerbar),
.fullscreen .titlebar:not(headerbar),
.tiled headerbar,
.tiled-top headerbar,
.tiled-right headerbar,
.tiled-bottom headerbar,
.tiled-left headerbar,
.maximized headerbar,
.fullscreen headerbar { border-radius: 0; }

.titlebar:not(headerbar) separator.titlebutton, headerbar separator.titlebutton { opacity: 0; }

.solid-csd .titlebar:dir(rtl):not(headerbar), .solid-csd .titlebar:dir(ltr):not(headerbar), .solid-csd headerbar:backdrop:dir(rtl), .solid-csd headerbar:backdrop:dir(ltr), .solid-csd headerbar:dir(rtl), .solid-csd headerbar:dir(ltr) { border-radius: 0; box-shadow: none; }

.background .titlebar:backdrop, .background .titlebar { border-top-left-radius: 6.0px; border-top-right-radius: 6.0px; }

.background.tiled .titlebar:backdrop, .background.tiled .titlebar, .background.tiled-top .titlebar:backdrop, .background.tiled-top .titlebar, .background.tiled-right .titlebar:backdrop, .background.tiled-right .titlebar, .background.tiled-bottom .titlebar:backdrop, .background.tiled-bottom .titlebar, .background.tiled-left .titlebar:backdrop, .background.tiled-left .titlebar, .background.maximized .titlebar:backdrop, .background.maximized .titlebar, .background.solid-csd .titlebar:backdrop, .background.solid-csd .titlebar { border-top-left-radius: 0; border-top-right-radius: 0; }

window separator:first-child + headerbar:backdrop, window separator:first-child + headerbar, window headerbar:first-child:backdrop, window headerbar:first-child { border-top-left-radius: 6.0px; }

window headerbar:last-child:backdrop, window headerbar:last-child { border-top-right-radius: 6.0px; }

window stack headerbar:first-child:backdrop, window stack headerbar:first-child, window stack headerbar:last-child:backdrop, window stack headerbar:last-child { border-top-left-radius: 6.0px; border-top-right-radius: 6.0px; }

window.tiled headerbar, window.tiled headerbar:first-child, window.tiled headerbar:last-child, window.tiled headerbar:only-child, window.tiled headerbar:backdrop, window.tiled headerbar:backdrop:first-child, window.tiled headerbar:backdrop:last-child, window.tiled headerbar:backdrop:only-child, window.tiled-top headerbar, window.tiled-top headerbar:first-child, window.tiled-top headerbar:last-child, window.tiled-top headerbar:only-child, window.tiled-top headerbar:backdrop, window.tiled-top headerbar:backdrop:first-child, window.tiled-top headerbar:backdrop:last-child, window.tiled-top headerbar:backdrop:only-child, window.tiled-right headerbar, window.tiled-right headerbar:first-child, window.tiled-right headerbar:last-child, window.tiled-right headerbar:only-child, window.tiled-right headerbar:backdrop, window.tiled-right headerbar:backdrop:first-child, window.tiled-right headerbar:backdrop:last-child, window.tiled-right headerbar:backdrop:only-child, window.tiled-bottom headerbar, window.tiled-bottom headerbar:first-child, window.tiled-bottom headerbar:last-child, window.tiled-bottom headerbar:only-child, window.tiled-bottom headerbar:backdrop, window.tiled-bottom headerbar:backdrop:first-child, window.tiled-bottom headerbar:backdrop:last-child, window.tiled-bottom headerbar:backdrop:only-child, window.tiled-left headerbar, window.tiled-left headerbar:first-child, window.tiled-left headerbar:last-child, window.tiled-left headerbar:only-child, window.tiled-left headerbar:backdrop, window.tiled-left headerbar:backdrop:first-child, window.tiled-left headerbar:backdrop:last-child, window.tiled-left headerbar:backdrop:only-child, window.maximized headerbar, window.maximized headerbar:first-child, window.maximized headerbar:last-child, window.maximized headerbar:only-child, window.maximized headerbar:backdrop, window.maximized headerbar:backdrop:first-child, window.maximized headerbar:backdrop:last-child, window.maximized headerbar:backdrop:only-child, window.fullscreen headerbar, window.fullscreen headerbar:first-child, window.fullscreen headerbar:last-child, window.fullscreen headerbar:only-child, window.fullscreen headerbar:backdrop, window.fullscreen headerbar:backdrop:first-child, window.fullscreen headerbar:backdrop:last-child, window.fullscreen headerbar:backdrop:only-child, window.solid-csd headerbar, window.solid-csd headerbar:first-child, window.solid-csd headerbar:last-child, window.solid-csd headerbar:only-child, window.solid-csd headerbar:backdrop, window.solid-csd headerbar:backdrop:first-child, window.solid-csd headerbar:backdrop:last-child, window.solid-csd headerbar:backdrop:only-child { border-top-left-radius: 0; border-top-right-radius: 0; }

/* this is for ssd titlebars */
.ssd .default-decoration,
.default-decoration.titlebar:not(headerbar),
.csd .default-decoration.titlebar:not(headerbar)
{border-bottom: none;}

/* Treeview */

* { -GtkTreeView-horizontal-separator: 4; -GtkTreeView-grid-line-width: 1; -GtkTreeView-grid-line-pattern: ''; -GtkTreeView-tree-line-width: 1; -GtkTreeView-tree-line-pattern: ''; -GtkTreeView-expander-size: 16; }

treeview.view.separator { min-height: 2px; }

treeview.view:not(:backdrop):not(:selected):hover { }

/* Menus */

menubar, .menubar { -GtkWidget-window-dragging: true; padding: 0px; }

menubar > menuitem, .menubar > menuitem { padding: 4px 8px; min-height: 16px; }

menubar > menuitem menu:dir(rtl), menubar > menuitem menu:dir(ltr), .menubar > menuitem menu:dir(rtl), .menubar > menuitem menu:dir(ltr) { padding: 6px; }

menu, .menu, .context-menu { margin: 4px; padding: 6px; }

menu separator, .menu separator, .context-menu separator { margin: 6px 0; }

menu menuitem, .menu menuitem, .context-menu menuitem { min-height: 16px; min-width: 40px; padding: 4px 6px; }

menu menuitem arrow, .menu menuitem arrow, .context-menu menuitem arrow { min-height: 16px; min-width: 16px; }

menu menuitem arrow:dir(ltr), .menu menuitem arrow:dir(ltr), .context-menu menuitem arrow:dir(ltr) { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); margin-left: 10px; }

menu menuitem arrow:dir(rtl), .menu menuitem arrow:dir(rtl), .context-menu menuitem arrow:dir(rtl) { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl"); margin-right: 10px; }

menu > arrow, .menu > arrow, .context-menu > arrow { min-height: 16px; min-width: 16px; padding: 4px; }

menu > arrow.top, .menu > arrow.top, .context-menu > arrow.top { margin-top: -4px; }

menu > arrow.bottom, .menu > arrow.bottom, .context-menu > arrow.bottom { margin-top: 8px; margin-bottom: -12px; }

menuitem check, menuitem radio { min-height: 16px; min-width: 16px; }

menuitem check:dir(ltr), menuitem radio:dir(ltr) { margin-right: 7px; }

menuitem check:dir(rtl), menuitem radio:dir(rtl) { margin-left: 7px; }

popover.background { padding: 2px; }

popover.background separator { margin: 6px 0; }

popover.background list separator { margin: 0px; }

.csd popover.background { background-clip: padding-box; border-color: @transparent_borders; }

popover.background {box-shadow: 0 1px 2px @menu_shadow; }

.csd popover.background,
popover.background { border: 1px solid @transparent_borders; }

/* Scroll Bar */

* { -GtkScrollbar-has-backward-stepper: false; -GtkScrollbar-has-forward-stepper: false; }

scrollbar slider { min-width: 10px; min-height: 10px; margin: 0px; }

/* Switch */

switch { outline-offset: -4px; padding: 2px; }

switch slider { margin: 4px; min-width: 16px; min-height: 16px; }

/* Check and Radio */

.view.content-view.check:not(list), iconview.content-view.check:not(list), .content-view:not(list) check,
.view.content-view.check:hover:not(list), iconview.content-view.check:hover:not(list), .content-view:not(list) check:hover,
.view.content-view.check:active:not(list), iconview.content-view.check:active:not(list), .content-view:not(list) check:active,
.view.content-view.check:backdrop:not(list), iconview.content-view.check:backdrop:not(list), .content-view:not(list) check:backdrop,
.view.content-view.check:checked:not(list), iconview.content-view.check:checked:not(list), .content-view:not(list) check:checked,
.view.content-view.check:checked:hover:not(list), iconview.content-view.check:checked:hover:not(list), .content-view:not(list) check:checked:hover,
.view.content-view.check:checked:active:not(list), iconview.content-view.check:checked:active:not(list), .content-view:not(list) check:checked:active,
.view.content-view.check:backdrop:checked:not(list), iconview.content-view.check:backdrop:checked:not(list), .content-view:not(list) check:backdrop:checked { margin: 4px; min-width: 32px; min-height: 32px; }

checkbutton.text-button, radiobutton.text-button { padding: 2px 0; outline-offset: 0; }

checkbutton.text-button label:not(:only-child):first-child, radiobutton.text-button label:not(:only-child):first-child { margin-left: 4px; }

checkbutton.text-button label:not(:only-child):last-child, radiobutton.text-button label:not(:only-child):last-child { margin-right: 4px; }

check, radio { margin: 0 4px; min-height: 14px; min-width: 14px; }

check:only-child, radio:only-child { margin: 0; }

popover check.left:dir(rtl), popover radio.left:dir(rtl) { margin-left: 0; margin-right: 12px; }

popover check.right:dir(ltr), popover radio.right:dir(ltr) { margin-left: 12px; margin-right: 0; }

menu menuitem check, menu menuitem radio { margin: 0; padding: 0; }

menu menuitem check, menu menuitem check:hover, menu menuitem check:disabled, menu menuitem check:not(:checked), menu menuitem check:not(:checked):hover, menu menuitem check:not(:checked):disabled, menu menuitem check:checked, menu menuitem check:checked:hover, menu menuitem check:checked:disabled, menu menuitem check:indeterminate, menu menuitem check:indeterminate:hover, menu menuitem check:indeterminate:disabled, menu menuitem radio, menu menuitem radio:hover, menu menuitem radio:disabled, menu menuitem radio:not(:checked), menu menuitem radio:not(:checked):hover, menu menuitem radio:not(:checked):disabled, menu menuitem radio:checked, menu menuitem radio:checked:hover, menu menuitem radio:checked:disabled, menu menuitem radio:indeterminate, menu menuitem radio:indeterminate:hover, menu menuitem radio:indeterminate:disabled { min-height: 14px; min-width: 14px; padding: 1px; }

/* Scale Bar */

scale{padding: 6px;}

scale highlight,
scale trough
{min-height: 8px; min-width: 8px;}

scale trough{padding: 0px;}

scale.horizontal slider,
scale.vertical slider{ padding: 8px; margin: -8px;}

scale:hover slider,
scale.marks-after slider,
scale.marks-before slider{padding: 6px; }

scale.color slider { padding: 4px; }

scale.horizontal > marks.top { margin-bottom: 6px; }

scale.horizontal > marks.bottom { margin-top: 6px; }

scale.horizontal > marks indicator { min-height: 6px; min-width: 1px; }

scale.horizontal > value.left { margin-right: 9px; }

scale.horizontal > value.right { margin-left: 9px; }

scale.vertical > marks.top { margin-right: 6px; }

scale.vertical > marks.bottom { margin-left: 6px; }

scale.vertical > marks indicator { min-height: 1px; min-width: 6px; }

scale.vertical > value.top { margin-bottom: 9px; }

scale.vertical > value.bottom { margin-top: 9px; }

scale.vertical.fine-tune > marks.top { margin-left: 3px; }

scale.vertical.fine-tune > marks.bottom { margin-right: 3px; }

scale.vertical.fine-tune > marks indicator { min-height: 3px; }

scale.vertical.marks-before { padding-left: 0; }

scale.vertical.marks-before > trough > slider { border-bottom-left-radius: 0; }

scale.vertical.marks-after { padding-right: 0; }

scale.vertical.marks-after > trough > slider { border-top-right-radius: 0; }

/* Progress Bar */

progressbar.horizontal trough, progressbar.horizontal progress { min-height: 8px; }

progressbar.vertical trough, progressbar.vertical progress { min-width: 8px; }

progressbar.horizontal progress { margin: 0 -1px; }

progressbar.vertical progress { margin: -1px 0; }

progressbar.osd { min-width: 3px; min-height: 3px; }

/* Level Bar */

levelbar.horizontal block { min-height: 8px; }

levelbar.horizontal.discrete block { margin: 0 1px; min-width: 32px; }

levelbar.vertical block { min-width: 8px; }

levelbar.vertical.discrete block { margin: 1px 0; min-height: 32px; }

levelbar trough { padding: 0; }

printdialog .dialog-action-box { margin: 12px; }

printdialog paper { padding: 0; }

/* Frames */

frame > border, .frame { margin: 0; padding: 0; }

actionbar > revealer > box { padding: 6px; }

scrolledwindow viewport.frame { border-style: none; }

separator { min-width: 1px; min-height: 1px; }

/* Overshoot */

scrolledwindow overshoot.top {background-image: radial-gradient(farthest-side at top, alpha(@accent_bg_color,0.2) 25%, alpha(@accent_bg_color,0.2)), radial-gradient(farthest-side at top, transparent, transparent); background-size: 100% 25%, 100% 50%; background-repeat: no-repeat; background-position: top; background-color: transparent; border: none; box-shadow: none;}

scrolledwindow overshoot.bottom {background-image: radial-gradient(farthest-side at top, alpha(@accent_bg_color,0.2) 25%, alpha(@accent_bg_color,0.2)), radial-gradient(farthest-side at bottom, transparent, transparent); background-size: 100% 25%, 100% 50%; background-repeat: no-repeat; background-position: bottom; background-color: transparent; border: none; box-shadow: none;}

scrolledwindow overshoot.left { background-image: radial-gradient(farthest-side at left, alpha(@accent_bg_color,0.2) 25%, alpha(@accent_bg_color,0.2)), radial-gradient(farthest-side at left, transparent, transparent); background-size: 25% 100%, 50% 100%; background-repeat: no-repeat; background-position: left; background-color: transparent; border: none; box-shadow: none; }

scrolledwindow overshoot.right { background-image: radial-gradient(farthest-side at left, alpha(@accent_bg_color,0.2) 25%, alpha(@accent_bg_color,0.2)), radial-gradient(farthest-side at right, transparent, transparent); background-size: 25% 100%, 50% 100%; background-repeat: no-repeat; background-position: right; background-color: transparent; border: none; box-shadow: none; }

/* List */

list row { padding: 2px; }

.source-list { -GtkTreeView-horizontal-separator: 1px; -GtkTreeView-vertical-separator: 6px; }

row.expander list.nested {border-top: 1px solid @transparent_borders;}

.package-box { border-radius: 6.0px; }

scrolledwindow list row,
popover scrolledwindow list row{border-radius: 0px}

row label {padding: 0 12px;}

/* App Notification */

.app-notification, .app-notification.frame { padding: 10px; }

/* Expander */

expander title > arrow,
expander { min-width: 16px; min-height: 16px; }

/* Message Dialog */

messagedialog .titlebar, messagedialog .titlebar:backdrop { min-height: 20px; }

messagedialog.csd .dialog-action-area button { padding: 10px 14px; }

/* File Chooser */

.sidebar row, .sidebar separator { margin: 0 4px; }

stacksidebar row { padding: 10px 4px; }

stacksidebar row > label { padding-left: 6px; padding-right: 6px; }

placessidebar row { min-height: 36px; padding: 0px; }

placessidebar row > revealer { padding: 0 14px; }

placessidebar row image.sidebar-icon:dir(ltr) { padding-right: 8px; }

placessidebar row image.sidebar-icon:dir(rtl) { padding-left: 8px; }

placessidebar row label.sidebar-label:dir(ltr) { padding-right: 2px; }

placessidebar row label.sidebar-label:dir(rtl) { padding-left: 2px; }

button.sidebar-button { min-height: 26px; min-width: 26px; margin-top: 3px; margin-bottom: 3px; padding: 0; }

placessidebar row.sidebar-placeholder-row { padding: 0 8px; min-height: 2px; }

placesview > actionbar > revealer > box > label { padding-left: 8px; padding-right: 8px; }

paned > separator { min-width: 1px; min-height: 1px; }

paned > separator.wide { min-width: 5px; min-height: 5px; }

paned.horizontal > separator:dir(ltr) { margin: 0 -8px 0 0; padding: 0 8px 0 0; background-position: left; }

paned.horizontal > separator:dir(rtl) { margin: 0 0 0 -8px; padding: 0 0 0 8px; background-position: right; }

paned.horizontal > separator.wide { margin: 0; padding: 0; background-repeat: repeat-y, repeat-y; background-position: left, right; }

paned.vertical > separator { margin: 0 0 -8px 0; padding: 0 0 8px 0; }

paned.vertical > separator.wide { margin: 0; padding: 0; }

/* Info Bar */

infobar .close { min-width: 18px; min-height: 18px; padding: 4px; }

/* Tooltip */

tooltip,
tooltip * { padding: 2px; }

/* Decoration */

decoration { border-radius: 6.0px 6.0px 0 0; border-width: 0px; box-shadow: 0 3px 12px 1px rgba(0, 0, 0, 0.3), 0 0 0 1px @transparent_borders; margin: 10px; }

decoration:backdrop { box-shadow: 0 3px 12px 1px transparent, 0 2px 6px 2px rgba(0, 0, 0, 0.14), 0 0 0 1px alpha(@transparent_borders,0.5); transition: 200ms ease-out; }

.maximized decoration, .fullscreen decoration { border-radius: 0; box-shadow: none; }

.tiled decoration, .tiled-top decoration, .tiled-right decoration, .tiled-bottom decoration, .tiled-left decoration { border-radius: 0; box-shadow: 0 0 0 1px @transparent_borders, 0 0 0 20px transparent; }

.tiled decoration:backdrop, .tiled-top decoration:backdrop, .tiled-right decoration:backdrop, .tiled-bottom decoration:backdrop, .tiled-left decoration:backdrop { box-shadow: 0 0 0 1px alpha(@transparent_borders,0.5), 0 0 0 20px transparent; }

.popup decoration { box-shadow: none; }

.ssd decoration { box-shadow: 0 0 0 1px @transparent_borders; }

.ssd decoration:backdrop { box-shadow: 0 0 0 1px alpha(@transparent_borders,0.5); }

.ssd.maximized decoration, .ssd.maximized decoration:backdrop { box-shadow: none; }

.csd.popup decoration { border-radius: 6.0px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px @transparent_borders; }

tooltip.csd decoration { border-radius: 6.0px; box-shadow: none; }

messagedialog.csd decoration { border-radius: 6.0px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px @transparent_borders; }

.solid-csd decoration { margin: 0; padding: 4px; background-color: mix(currentColor,@window_bg_color,0.853); border: solid 1px @transparent_borders; border-radius: 0; box-shadow: inset 0 0 0 5px mix(currentColor,@window_bg_color,0.853), inset 0 0 0 4px @headerbar_bg_color, inset 0 0 0 1px mix(currentColor,@window_bg_color,0.853); }

.solid-csd decoration:backdrop { box-shadow: inset 0 0 0 3px @window_bg_color; }

/* Emoji Section */

popover.emoji-picker { padding-left: 0; padding-right: 0; }

popover.emoji-picker entry.search { margin: 3px 5px 5px 5px; }

button.emoji-section:first-child { margin-left: 7px; }

button.emoji-section:last-child { margin-right: 7px; }

button.emoji-section label { padding: 0; }

popover.emoji-completion contents row box { padding: 2px 10px; }

popover.emoji-picker .emoji { padding: 6px; }

/* Content */

button.toggle:not(.image-button) { padding-left: 8px; padding-right: 8px; }

scrolledwindow list separator.horizontal { margin: 6px; }

.preferences scrolledwindow > .frame > clamp.large, .preferences scrolledwindow > .frame > clamp.medium, .preferences scrolledwindow > .frame > clamp.small { padding-bottom: 30px; }

popover.background modelbutton.flat { padding-left: 16px; padding-right: 16px; }

popover.menu > stack { margin: -6px; }

popover.combo{ padding: 0px; }

popover.combo list { min-width: 200px; }

popover.combo list > row { padding: 0px 8px 0px 8px; min-height: 40px; }

row.expander { padding: 0px; }

row.expander image.expander-row-arrow:dir(ltr) { margin-left: 6px; }

row.expander image.expander-row-arrow:dir(rtl) { margin-right: 6px; }

popover.combo scrollbar.vertical { padding-top: 2px; padding-bottom: 2px; }

list.content > row { margin: 0; }

/* View Switcher */

headerbar viewswitcher {padding: 4px 0px;}

viewswitcher, viewswitcher button { margin: 0; padding: 0; }

viewswitcher button > stack > box.narrow { padding-top: 4px; padding-bottom: 4px; }

viewswitcher button > stack > box.narrow image, viewswitcher button > stack > box.narrow label { padding-left: 8px; padding-right: 8px; }

headerbar viewswitcher button.radio.vertical .narrow image{ color: transparent; margin: -9999px;}
headerbar viewswitcher button.radio.vertical .narrow label{ margin-top: -6.5px;}

viewswitcher button > stack > box.wide { padding: 8px 12px; }

viewswitcher button > stack > box.wide image:dir(rtl),
viewswitcher button > stack > box.wide label:dir(ltr) { padding-right: 7px; }

viewswitcher button > stack > box.wide image:dir(ltr),
viewswitcher button > stack > box.wide label:dir(rtl) { padding-left: 7px; }

viewswitcherbar actionbar > revealer > box { padding: 0; }

viewswitchertitle viewswitcher { margin-left: 12px; margin-right: 12px; }

viewswitcher button.needs-attention:active > stack > box label, viewswitcher button.needs-attention:checked > stack > box label { animation: none; background-image: none; }

viewswitcher button.needs-attention > stack > box label { animation: needs_attention 150ms ease-in; background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(@accent_bg_color), to(transparent)); background-size: 6px 6px, 6px 6px; background-repeat: no-repeat; background-position: right 0px, right 1px; }

statuspage > scrolledwindow > viewport > box { margin: 36px 12px; }

statuspage > scrolledwindow > viewport > box > clamp:not(:last-child) > box { margin-bottom: 36px; }

statuspage > scrolledwindow > viewport > box > clamp > box > .icon:not(:last-child) { margin-bottom: 36px; }

statuspage > scrolledwindow > viewport > box > clamp > box > .title:not(:last-child) { margin-bottom: 12px; }

row > box.header { margin-left: 12px; margin-right: 12px; min-height: 50px; }

row > box.header > box.title { margin-top: 8px; margin-bottom: 8px; }

/* Tab Bar */

tabbar .box { min-height: 38px; }

tabbar tab, .tab-drag-icon tab { padding: 6px; }

.tab-drag-icon tab { min-height: 26px; margin: 25px; }

tabbar tab .tab-close-button, tabbar tab .tab-indicator, .tab-drag-icon tab .tab-close-button, .tab-drag-icon tab .tab-indicator { padding: 0; margin: 0; min-width: 24px; min-height: 24px; }

tabbar .box { min-height: 38px; }

tabbar scrolledwindow.pinned tabbox:dir(ltr) { padding-right: 1px; }

tabbar scrolledwindow.pinned tabbox:dir(rtl) { padding-left: 1px; }

tabbar tab { margin: 4px 3px; }

tabbar .start-action:dir(ltr) > *, tabbar .end-action:dir(rtl) > * { margin-right: 1px; }

tabbar .start-action:dir(rtl) > *, tabbar .end-action:dir(ltr) > * { margin-left: 1px; }

/* Flap */

flap > border, deck > border, leaflet > border,
flap > outline, deck > outline, leaflet > outline { min-width: 1px; min-height: 1px; }

flap > shadow, deck > shadow, leaflet > shadow { min-width: 56px; min-height: 56px; }

window.preferences > deck > deck > box > stack > stack > scrolledwindow > viewport > clamp, preferencespage > scrolledwindow > viewport > clamp { margin: 0 12px; }

window.preferences > deck > deck > box > stack > stack > scrolledwindow > viewport > clamp > list, window.preferences > deck > deck > box > stack > stack > scrolledwindow > viewport > clamp > box > preferencesgroup, preferencespage > scrolledwindow > viewport > clamp > list, preferencespage > scrolledwindow > viewport > clamp > box > preferencesgroup { margin-top: 24px; }

preferencesgroup > box > label:not(:first-child) { margin-top: 6px; }

preferencesgroup > box > box:not(:first-child) { margin-top: 12px; }

/* Pantheon */

GraniteWidgetsPopOver { -GraniteWidgetsPopOver-arrow-width: 21; -GraniteWidgetsPopOver-arrow-height: 10; -GraniteWidgetsPopOver-border-radius: 12px; -GraniteWidgetsPopOver-border-width: 0; -GraniteWidgetsPopOver-shadow-size: 12; border: 1px solid @view_bg_color; background: @view_bg_color; color: @window_fg_color; }

.h4 { padding-top: 0.5em; padding-bottom: 0.5em; }

list .h4 { padding-left: 0.5em; }

.storage-bar .trough,
.storage-bar .fill-block { padding: 8px 6px; }

.storage-bar .legend { padding: 8px; }

.storage-bar .disk-bar { padding: 0; }

.source-list .badge { padding: 0 6px; margin: 0 3px; }

.source-list row, .source-list .list-row { padding: 0; }

.source-list row > GtkLabel, .source-list row > label, .source-list .list-row > GtkLabel, .source-list .list-row > label { padding-left: 6px; padding-right: 6px; }

.overlay-bar { padding: 4px; }

.dynamic-notebook tab.reorderable-page { padding: 8px; }

label.terminal { padding: 1em; }

button.back-button, button.back-button.text-button { padding-right: 8px; padding-left: 36px; }

.titlebar button.back-button, .titlebar button.back-button.text-button { padding-left: 36px; }

button.back-button:dir(rtl), button.back-button.text-button:dir(rtl) { padding: 0.5em 0.6em; padding-right: 36px; padding-left: 8px; }

/* Gedit */

.org-gnome-gedit notebook tab.reorderable-page, .nautilus-window notebook tab.reorderable-page { min-height: 37px; padding: 4px 0 0 0; }

.org-gnome-gedit notebook tab.reorderable-page > box, .nautilus-window notebook tab.reorderable-page > box { margin: 0 3px 3px 3px; padding-right: 8px; }

.org-gnome-gedit notebook tab.reorderable-page > box > label, .nautilus-window notebook tab.reorderable-page > box > label { padding-left: 8px; }

.org-gnome-gedit notebook tab.reorderable-page > box button, .nautilus-window notebook tab.reorderable-page > box button { margin: 8px 0; }

.gedit-search-slider { padding: 4px 8px; }

.gedit-search-slider button { padding-top: 7px; padding-bottom: 7px; }

.gedit-document-panel row.activatable { padding: 6px; }

.gedit-document-panel row button { min-width: 22px; min-height: 22px; padding: 0; margin: 0; }

/* Nautilus */

.nautilus-window headerbar .path-bar-box, .nautilus-window .titlebar .path-bar-box { padding-right: 6px; }

.nautilus-window headerbar .nautilus-path-bar, .nautilus-window .titlebar .nautilus-path-bar { min-height: 34px; }

.nautilus-window headerbar .nautilus-path-bar button:not(.titlebutton), .nautilus-window .titlebar .nautilus-path-bar button:not(.titlebutton) { margin: 0; padding-left: 8px; padding-right: 8px; }

.nautilus-window .path-buttons-box button { min-height: 22px; }

.nautilus-window entry.search > :not(.csd) { margin: 5px; }

.floating-bar { padding: 3px; }

.floating-bar button { padding: 0px; }

list.tweak-categories separator.horizontal { margin: 2px 0; }

.org-gnome-Todo taskrow.activatable.new-task-row button.popup.toggle { padding-left: 10px; padding-right: 10px; }

/* Xfce */

.xfce4-panel.background .tasklist button, .xfce4-panel.background #actions-button, .xfce4-panel.background #clock-button { margin: 2px; }

.xfce4-panel.background .tasklist image { margin-left: 2px; margin-right: 2px; }

.xfce4-panel.background button label { padding-left: 6px; padding-right: 6px; }

.xfce4-panel.background button { padding: 0 6px; min-height: 12px; min-width: 12px; }

/* Nemo */

.places-treeview {
  -NemoPlacesTreeView-disk-full-bg-color: mix(@window_bg_color,@window_fg_color,0.3);
  -NemoPlacesTreeView-disk-full-fg-color: @window_fg_color;
  -NemoPlacesTreeView-disk-full-bar-width: 2px;
  -NemoPlacesTreeView-disk-full-bar-radius: 0;
  -NemoPlacesTreeView-disk-full-bottom-padding: 1px;
  -NemoPlacesTreeView-disk-full-max-length: 80px;
}

.nemo-properties-dialog .dialog-action-box .dialog-action-area { margin: 2px 6px 4px; }

.nemo-properties-dialog toolbar stackswitcher.linked button { margin-right: 0; }

.nemo-window toolbar.horizontal.primary-toolbar .linked button { margin-right: 0; }

.nemo-window toolbar.horizontal.primary-toolbar toolitem box widget * { min-height: 0; min-width: 0; }

#dialog-action_area3 { margin: 5px; }

/* Firefox */

#MozillaGtkWidget.background menuitem check, #MozillaGtkWidget.background menuitem radio { min-height: 12px; min-width: 12px; }

button .download_progress trough { min-height: 2px; }

/* Builder */

.org-gnome-Builder .dzlmenubuttonitem { min-height: 32px; }

terminal-window notebook > header.top tabs:not(:only-child):first-child, terminal-window notebook > header.bottom tabs:not(:only-child):first-child { margin-left: 0px; }

terminal-window notebook > header.top tabs:not(:only-child):last-child, terminal-window notebook > header.bottom tabs:not(:only-child):last-child { margin-right: 0px; }

terminal-window notebook scrollbar slider { margin: 0; }

/* Caja */

.caja-pathbar button { min-width: 32px; margin-right: -3px; }

/* Geary */

.geary-folder-popover-list-row { margin: 0; }

/* Budgie */

.budgie-session-dialog, .budgie-polkit-dialog{-gtk-icon-style: regular;}

/* Unity */

UnityDecoration .top {
min-height: 28px;
border: none;
padding: 1px 6px 1px 6px;
box-shadow: none;
background-color: transparent;
background-clip: border-box;
background-image: image(@headerbar_bg_color);
color: @headerbar_fg_color;
text-shadow: none;
border-top-left-radius: 6.0px;
border-top-right-radius: 6.0px;
}

UnityDecoration .top:backdrop {
background-image: image(@headerbar_backdrop_color);
color: mix(@headerbar_fg_color,@headerbar_bg_color,0.5);
}

UnityDecoration {
/* Border properties (top, right, bottom, left) */
-UnityDecoration-extents: 28px 0px 0px 0px; /* the size of the decorations.
new version of unity dont have support for border color  */
}

UnityPanelWidget,
.unity-panel {
background-clip: border-box;
background-color: @headerbar_bg_color;
background-image: none;
border-bottom: 1px solid alpha(white,0.2);
color: @headerbar_fg_color;
text-shadow: none;
}

.unity-panel.menubar,
.unity-panel .menubar { background: none; }

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover { background: alpha(currentcolor,0.1); }

