/* Option 2 */
#TabsToolbar {
    visibility: collapse;
}

#navigator-toolbox:hover #TabsToolbar {
    visibility: visible;
}


/* Hide the address bar */
#nav-bar {
    visibility: collapse;
}

#navigator-toolbox:hover #nav-bar  {
    visibility: visible;
}

/* Hide the bookmarks toolbar */
#PersonalToolbar {
    visibility: collapse;
}
